::ng-deep ch-snackbar{

	.SNACK{

		transition:0.5s;
			display:flex;
			align-items: center;
			justify-content: space-around;
			color:gold;
			border-radius:2px 2px 0px 0px;
			background: #333333;
			position:fixed;
			left:30%;
			right:30%;
			bottom:-60px;
			height:47px;
			width:40%;
			z-index:2500;
			box-shadow:0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

			span{
				color:white;
			}

			span:hover{
				cursor:pointer;
				color:gold;
			}


		}

	@media screen and(max-width:900px){

		.SNACK{
			left:0px;
			right:0px;
			width:100%;
		}

	}

}