<div class="posts-mat-card-wrapper">

	<div   [ngClass]="{ 'descEnabled' : renderDesc }" [routerLink]="[ post?.anonym ?  '/'+'ch' : '/'+post?.owner?.login , post._id ]" class="ch-card mat-elevation-z4 " *ngFor=" let post of postsData; let ind = index ">
		<div [style.backgroundImage]="'url('+post?.image[0] +' ),url(../../../assets/img/img5.jpg)' | safestyle " class="ch-card-main">
			<div class="desc-wrap">

				<div class = "content-type">
					<i class = "fa fa-podcast"></i>
				</div>

				<div class="ch-title txtshadow2">{{ post?.title | cuttext : 85 }}</div>

				<div style="min-height:10px;" class="hor-flexer"></div>

				<div class="card-author">
					<div *ngIf="!post?.anonym" class="card-author-img" [style.backgroundImage]="'url('+post?.owner?.pokerfaceformatted +' )' | safestyle "></div>
					<div *ngIf="!post?.anonym" class="uppertxt">
						<div style="width:150px;">
							<div class="w-100">
								{{ post?.owner?.login | cuttext : 15 }}
								{{ post?.owner?.tps?.name | cuttext : 15 }}
							</div>
							<div class="w-100">{{ post?.productiontimestamp || post?.created_at | converttime }}</div>
						</div>
					</div>

					<div *ngIf="post?.anonym" class="card-author-img" [style.backgroundImage]="'url(../../../assets/img/avatar.png)' | safestyle "></div>
					<div *ngIf="post?.anonym" style="color:#ccc" class="uppertxt">
						<b>@TOPSECRET</b>
					</div>
					<div class="approved">
						<mat-icon *ngIf="post?.approve" matTooltip="CHAKIRBERG TOP RATE" class="approved">stars</mat-icon>
					</div>
					<div class="category uppertxt">
						{{ post?.ctg?.name | translate }}
					</div>
				</div>

			</div>
		</div>

		<div *ngIf = "renderDesc" class="ch-card-content">
			<p>{{ post?.desc | removehtmltags | cuttext : 320 }}</p>
			<button class="iosBtn hidden-md-up">{{ 'open' | translate }}</button>
		</div>

	</div>

</div>