@import "../../../assets/style/variables.scss";

.posts-mat-card-wrapper{

		display:flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-between;
		margin:0 -0.4% 0 -0.4%;
		height:auto;


		.descEnabled{
			height:390px;
		}


		.ch-card:nth-of-type(1){

  			flex: 1 1 47%;
			//flex: 1 1 30%;
			border:0px solid yellow;

			.desc-wrap{
				font-size:23px;
				padding:17px;
			}


		}


		.ch-card:nth-of-type(2){
  			//flex: 0 1 34.2%;
			border:0px solid blue;
		}

		.ch-card:nth-of-type(1),
		.ch-card:nth-of-type(2)
		{
			min-height:380px !important;
		}


		.ch-card:nth-of-type(5n){
  			flex: 0 1 39%;
			border:0px solid blue;
		}


	.ch-card{
		display:flex;
		flex-direction: column;
		min-width:350px;
		min-height:240px;
		margin: 0 0.4% 0.8% 0.4%;
		flex: 1 1 23%;
		background: white;
		transition:0.5s;
		cursor:pointer;

		&:hover{
			filter:brightness(75%)
		}

		.ch-card-content{
			font-size:13px;
			padding:5px 20px 10px 20px;
			height:auto;
			color:#555555;
			font-family:$titlefontfam;

			button{
				min-width:120px;
				justify-content: center;
			}

			p:before{
				content: "#";
				color:#aaa;
				font-size:25px;
				margin-right:1px;
			}

		}

	}


	.ch-card-main{

		border:1px solid #ddd;
		width:100%;
		height:400px;
		border:0px solid red;
		display:flex;
		display: -webkit-flex;
		align-items: flex-end;
		background-size:cover;
		background-position: center;
		position: relative;

		.ch-title{

			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			max-width:250px;

		}

		.desc-wrap{

			display:flex;
			flex-direction: column;
			padding:15px 20px 20px 20px;
			font-family:$titlefontfam;
			position:absolute;
			top:0;
			left:0;
			min-height:100%;
			bottom:0px;
			width:100%;
			color:white;
			height:100%;
			background: rgba(0,0,0,0.37);

			.content-type{

				$border-width: 60px;
				$color:rgba(166, 223, 54, 0.65);
				height:$border-width;
				width:$border-width;
				position: absolute;
				right:0;
				top:0;
				border-top: $border-width solid $color;
				border-left: $border-width solid transparent;

				i{
					position: absolute;
					right:6px;
					top:-55px;
					color:white;
					font-size:25px;
				}

			}

		}

		.card-author{

			width:100%;
			font-size:12px !important;
			display:flex;
			align-items: center;

			.card-author-img{
				margin-right:10px;
				height:35px !important;
				width:35px !important;
				background-size:cover;
				border-radius: 25px;
				background-position: center;
				background-color: #ccc;
			}

			.approved{
				padding:3px;
				margin:0 3px 0 3px;
			}

			.category{

				flex:1;
				text-align: center;
				font-size:12px;
				border:1px solid rgba(255,255,255,0.2);
				border-radius:2px;
				color:rgba(255,255,255,0.8);

			}

		}

	}

	/* FOR PHONES */

	@media only screen and (max-width: 900px){


		.descEnabled{
			height:auto;
		}

		.ch-card:nth-of-type(1),
		.ch-card:nth-of-type(2)
		{
			min-height:300px !important;
		}

		.ch-card{
			width:100% ;
			margin:0 0 10px 0;

			&:hover{
				filter:none;
			}

			.ch-card-main{
				height:300px;

				.ch-title{
					text-shadow:0 0 0;
					font-family:arial;
					font-size:16px;
				}
			}

		}

		.ch-card:nth-of-type(1),
		.ch-card:nth-of-type(2),
		.ch-card:nth-of-type(5n)
		{
			min-width:100% !important;
		}

	}


	/* FOR IPAD */

	@media only screen
  		and (min-device-width: 768px)
  		and (max-device-width: 1024px)
		and (orientation: portrait)

		{
			.ch-card{
				margin:4px;
			}

			.ch-card:nth-of-type(1),
			.ch-card:nth-of-type(4n)
			{
				width:100% ;
			}

			.ch-card:nth-of-type(2){
				min-width:45% !important;
			}

			.ch-card:nth-of-type(5){
				min-width:45% !important;
			}

		}

}
