@import "../../../assets/style/variables.scss";

	.accounts-list{
		display:flex;
		align-items: center;
		margin-bottom:5px;
	}

	.accounts-list-avatar{
			$size:27px;
			height:$size;
			width:$size;
			border-radius:30px;
			background-size:cover;
			background-position: center;
			border:1px solid #656565;

		}

	.accounts-list-login{
			text-transform: uppercase;
			font-weight: bold;
			margin-left:5px;
			font-size:12px;
		}

	.header{
		width:100%;
		position: fixed !important;
		z-index:2000;
		background: white;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

		.header-content{
			height:65px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding:0px 15px 0px 15px;

			.header-avatar{
				background-color:#eee;
				background-size:cover;
				background-position: center;
				min-height:40px;
				min-width:40px;
				border-radius: 20px;
				border:1px solid #ccc;
				transition:0.5s;
				cursor:pointer;

				&:hover{
					border:2px solid orangered;
				}
			}

			.username{
				padding:2px;
				margin-left:10px;
				color:#a6df36;
				font-weight:600;
				font-family: $titlefontfam;
				font-size:40px;
				white-space:nowrap;
				text-overflow:ellipsis;
				overflow:hidden;
			}

		}


	}



	.menu-block{
		height:725px;
		position:fixed;
		width:24% !important;
		border:0px solid $barsbordercolorlite ;
		border-left:0px;
	}

	.container-fluid{
		min-height:88vh;
		padding:0px;
		padding-right:10px;
		padding-top:73px;
		color:$fontcolor;
	}

	.block{
		padding-left:0px;
	}


	.mat-block{
		background: white !important;
		min-height:600px !important;
		width:100%;
		border-radius: 3px;
	}

	.mat-block-ht{
		min-height:725px !important;
	}

	.mat-block-ht2{
		min-height:550px !important;
	}


	.avatar{

			background: white;
			height:250px;
			width:100%;
			color:#333;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid $barsbordercolorlite;
			text-transform: uppercase;

			.avatar-profile-wrapper{

				height:130px;
				width:130px;
				border-radius: 70px;
				margin-bottom:20px;
				background-size:cover;
				background-position: center center;
				border:1px solid rgba( 0, 0 , 0 , 0.5);
				background-color: #eee;

				.upload-avatar-icon{

					@include centercenter;
					font-size:30px;
					width: 100%;
					cursor:pointer;
					transition: 0.3s;
					&:hover{color:$themecolor1;}
				}

			}

			.avatar-profile{

				height:100%;
				width:100%;
				border-radius: 70px;
				background-size:cover;
				background-position: center top;

			}


			.title{
				//font-family: $titlefontfam;
			}

	}

	.menu{

			flex-direction: column;
			padding:65px;

			p{

				display: flex;
				align-items: center;
			/*	text-transform: uppercase; */
				font-size:12px;
				font-weight: 400;
				cursor:pointer;
				transition:0.4s;
				color:#333;
				padding-left:10px;
				text-transform: uppercase;

				mat-icon{
					color:#333;
					transition:0.4s;
					margin:0 10px 0 0;
				}

			}

			p:hover{
				color:gold !important;

				mat-icon{
					color:gold;
				}
			}

		}

	@media screen and(max-width:900px){

			.header{
				box-shadow:0 0 0 0 !important;
				border-bottom:1px solid $barsbordercolorlite ;

				.header-content{
					height:$toolbarMobileHt;

					.header-avatar{
						height:30px;
						width:30px;
					}

					.username{
						font-size:28px;
						font-weight: 200;
						text-shadow:0px 0px 1px #656565;
					}

				}
			}

			.block{
				height:auto;
				padding:10px !important;
			}

			.secondblock{
				min-height:90vh;
			}

			.container-fluid{
				padding:0px;
			}

			.avatar{
				height:220px !important;
				border-width:0;

			}

			.menu-block{
				margin:0px;
				margin-bottom:30px;
				top:calc(#{$toolbarMobileHt} );
				height:auto !important;
				position:relative;
				left:0px;
				right:0px;
				width:100% !important;

				.menu{
					display:none;
				}
			}
	}


	body::-webkit-scrollbar,	textarea::-webkit-scrollbar {
 		width: 7px;
}

	body::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
		background-color: $themecolor4 !important;
}

	.posts-handler::-webkit-scrollbar,	textarea::-webkit-scrollbar {
 		width: 7px;
}

	.posts-handler::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
		background-color: $themecolor4 !important;
}