
<div class = "header">
	<div style="filter:brightness(90%)" *ngIf = "HELPERS.IOSstatusBarRender()" class = "statusBar"  ></div>
	<div   [ngClass] = "{ 'androidNav' : HELPERS.isAndroid() }"  class = "header-content">
		<div class="header-avatar " [matMenuTriggerFor]="menuaccount" [style.backgroundImage]="'url('+userData?.pokerface+'),url(../../../assets/img/avatar.png)' | safestyle"></div>

		<mat-menu #menuaccount="matMenu" xPosition="before" yPosition="below">
			<button (click) = "changeAccount(account.token)" class = "accounts-list" mat-menu-item *ngFor = "let account of accountsData;let ind = index" >
				<div class = "accounts-list-avatar" [style.backgroundImage]="'url('+ account.pokerface +' ),url(../../../assets/img/img5.jpg)' | safestyle "></div>
				<div class = "accounts-list-login" > {{ account.login }} </div>
			</button>

		</mat-menu>

		<div class= "username uppertxt ">{{userData?.login  }}</div>
		<div class= " username   uppertxt " style = "color:#555555">{{userData?.tps?.name }}</div>
		<div class = "hor-flexer"></div>

		<mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
		<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
			<button mat-menu-item (click) = "i18n.changeLang('ru')" ><mat-icon>cloud_circle</mat-icon>RU</button>
			<button mat-menu-item (click) = "i18n.changeLang('en')"><mat-icon>cloud_circle</mat-icon>EN</button>
			<button [routerLink]="['']" mat-menu-item class = "uppertxt"><mat-icon>explore</mat-icon>{{ 'gohome' | translate }}</button>
			<button mat-menu-item (click) = "logOut()"class = "uppertxt"><mat-icon>remove_circle</mat-icon>{{ 'logout' | translate }}</button>
		</mat-menu>

	</div>
</div>

<div class="container-fluid" >

<div *ngIf = "HELPERS.IOSstatusBarRender()" class = "statusBarFixer"></div>

	<div class="row" >

		<div class="col-lg-3 col-md-12 col-12 block" >
			<div class="menu-block mat-elevation-z4">

				<div class="avatar" >
					<div class="avatar-profile-wrapper" [style.backgroundImage]="'url('+userData?.pokerface+')' | safestyle">

						<input  accept="image/*" id = "upload-avatar-input" [hidden] = "true" type = "file" (change) = "resetAvatar( $event , userData?.pokerface )" >
						<label  for = "upload-avatar-input" class = "upload-avatar-icon"><i class = "fa fa-camera"></i></label>

					</div>
					<h3 class= "text-center title">
						<b class= "trunctxt">{{userData?.login }}</b>
					</h3>
				</div>
				<div class="menu">
					<p  [routerLink] = "kingRoutes.nested.posthandler">
						<mat-icon>palette</mat-icon>
							{{ 'createpost' | translate }}
					</p>

					<p  [routerLink] = "['./']">
						<mat-icon>shop</mat-icon>
							{{ 'myposts' | translate }}
					</p>

					<p *ngIf= "userData?.role == 'superuser' " [routerLink] = "kingRoutes.nested.usershandler">
						<mat-icon>face</mat-icon>
							{{ 'users' | translate }}
					</p>

					<p [routerLink] = "kingRoutes.nested.editprofile">
						<mat-icon >settings</mat-icon>
							{{ 'editprofile' | translate }}
					</p>

					<p *ngIf= "userData?.role == 'superuser' " [routerLink] = "kingRoutes.nested.keyhandler">
						<mat-icon >vpn_key</mat-icon>
							{{ 'keycontrol' | translate }}
					</p>

					<p (click)="logOut()">
						<mat-icon >explore</mat-icon>
							{{ 'logout' | translate }}
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-md-12 col-12 block secondblock">
			<router-outlet></router-outlet>
		</div>

	</div>

</div>

<app-mobilemenu back = "true">
	<i  [routerLink] = "['./']" class="fa fa-vcard "></i>
	<i  [routerLink]="[kingRoutes.nested.posthandler]" class="fa fa-edit"></i>
	<i  [routerLink]="[kingRoutes.nested.editprofile]" class="fa fa-cog"></i>
	<i  [routerLink]="[kingRoutes.nested.usershandler]" class="fa fa-user" *ngIf= "userData?.role == 'superuser' " ></i>
	<i  [routerLink]="[kingRoutes.nested.keyhandler]" class="fa fa-shield" *ngIf= "userData?.role == 'superuser' " ></i>
</app-mobilemenu>