	////////* HELPERS *////////
.flasheditor-helpers{

	.i-100{
		margin: -15px ;
		width: calc( 100% + 30px) ;
	}

	.img-cut-sm{
		transition:0.5s;
		max-height:230px !important;
		max-width:100%;
		object-fit: contain;
		display:block;
		margin:10px auto 10px auto !important;
	}

	.img-cut-lg{
		max-height:500px;
		width:100%;
		object-fit:cover;
		margin:auto;
	}

	.img-cut-md{
		max-height:400px;
		width:100%;
		object-fit:cover;
		margin:auto;
	}

	.img-cut-lg.top{
		object-position: center top;
	}

	.img-cut-lg.center{
		object-position: center;
	}

	.img-cut-md.top{
		object-position: center top;
	}

	.img-cut-md.center{
		object-position: center;
	}


///////NON STANDART ELEMENTS //////////////////


	figure.small-img{
		img{
			width:400px !important;
		}
	}

	figure{
		font-style: italic;
		text-align:center;
		color:#ccc;
	}


	section{

		width:100%;
		background-image:url("/assets/img/yt2.png");
		background-repeat: no-repeat;
		background-size: 20%;
		height:450px;
		background-position:center;

		iframe{
			width:100%;
			border:0px;
			height:100%;
		}

	}


	article{
			font-size:13px;
			padding:17px;
			margin : 20px 0px 20px 0px ;
			color:#555;
			//border-left:0px  solid #ddd;
			//border:1px solid #eee;
			border-radius:2px;
			min-height:50px;
			pointer-events: all;
			word-wrap: break-word;
			background:rgb(247, 247, 247);
			font-size:17px;
		}


	p iframe{
		width:100% !important;
		min-height:260px;
	}


	pre{
		min-height:150px;
		word-wrap: break-word;
		padding:10px;

		iframe{width:100%;}

		p{
			border-width:0px !important;
		}
	}

///////////////////////////////////////////////////////////

	[txtB]{
		color:blue;
	}

	[txtR]{
		color:#ff5959;
	}


	@media screen and(max-width:900px){

		figure img , img{
			width:100% !important;
			max-width:100% !important;
		}


		section{
			height:250px;
		}

		article{
			font-size:14px;
		}

		p iframe{
			min-height:370px;
		}

}


}
	///////* HELPERS *////////

