@import "variables.scss";

$DefCol2 : #999999;
$DefCol1 : $themecolor1;
$iosCol : #007AFF;

.iosBtn{

	display:flex;
	display: -webkit-flex;
	-webkit-box-pack :center;
	align-items: center;
	justify-content: center;
	font-size:11px !important;
	font-weight:400;
	border-radius: 3px ;
	border-width:2px;
	border-style: solid !important;
	border-color:#a6df36;
	padding:6px 14px 6px 12px;
	background:white !important;
	color:#a6df36;
	cursor:pointer;
	text-transform:uppercase;
	transition:0.5s;

	a{color : $DefCol1;}

	&:hover{
		background: #ddd !important;
	}

}


.androidNav{
	box-shadow: $matelevation !important;
	min-height:50px;
}


@media screen and(max-width:900px){

	.iosBtn{

		text-align: center;
		font-size:13px !important;
		//border-color:$DefCol2 ;
		//color:$DefCol2 ;
		border-radius: 3px !important;
		border-width:1px !important;
		padding:7px 12px 7px 12px !important;

		a{color : $DefCol2;}
	}

}


