.modalFixerIOS{
	position:absolute ;
	bottom:calc( 0px - env(safe-area-inset-top)) ;
	overflow-y:hidden ;
	left:0px;right:0px;
}

.modalFixerOTHERS{
	position:fixed ;
	overflow-y:hidden;
	left:0px;right:0px;
}

