@import  url("https://fonts.googleapis.com/css?family=Roboto+Condensed") ;
@import url('https://fonts.googleapis.com/css?family=Oswald');


$bodyback : rgba(166, 223, 54, 0.2);
$themecolor:#673ab7;
$themecolor1:yellowgreen;
$themecolor1StatusBar:rgba(166, 223, 54, 1);
$themecolor2:#9C27B0;
$themecolor3:rgba(166, 223, 54, 1);
$themecolor4: #cddc36;
$backcolor:rgba(158, 124, 214, 0.1);
$backcolor1:rgba(182, 236, 93, 0.1);
$backcolor2: rgba(166, 223, 54, 0.92);
$backcolor3:rgba(158, 124, 214, 0.8);
$fontcolor : #444;
$errorColor : #ff5959;
$successColor:#9C27B0;
$litegray : #ddd;
$litegray2 : #999999;
$contentWidth:90%;
$iosFontColor : #007AFF;
$imgBack : #ddd;

$barsbordercolor : rgba(0,0,0,0.25);
$barsbordercolorlite : rgba(0,0,0,0.15);

$containermobileHeight : 3000px;
$containerDesktopHeight : 700px;


$IOSSSAFESPACE : constant(safe-area-inset-top);
$toolbarMobileHt : 45px;
$toolbarDesktopHt : 65px;
$fitBlocktoMobileToolbar : 40px;
$statusBarHt : 20px;


$temp : 0px;

/* FONTS */
$titlefontfam: "Oswald";
$deskfontfam : 'Roboto Condensed';
$mobilefontfam : arial;


/* FONT SIZES */
$kingmoduleroutemaintitle : 15px;

$homebackcolor:$backcolor2;
$homebackcolorfooter : $themecolor1;

$matelevation : 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
$matelevationlite:0 2px 4px 0 rgba(0,0,0,.1);


/* MIXINS */
@mixin backimg($height,$width) {

	height: $height;
	width:$width;
	background-size:cover;
	background-position: center;
	border-radius: 0px;
}

@mixin vertalign(){
	margin-top:50%;
	transform:translateY(-50%);
}

@mixin vertalignrel(){
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

@mixin vertalignabs(){
	position: absolute;
	top:50%;
	transform:translateY(-50%);
}

@mixin centercenter(){

	margin-top:50%;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	transform:translateY(-50%);

}


/* EXTENSIONS */
%head1 {
	.head {
		width:100%;
		display:flex;
		align-items:center;
		i{color:$themecolor1;font-size: 25px;}

		.head-title{
			font-size:$kingmoduleroutemaintitle;
			margin-left:10px;
			text-transform:uppercase;
		}

		& * {display: inline-block;}
	}
}




