@import "../../assets/style/variables.scss";

::ng-deep app-options{

#container-options{

	position: relative;
	top:0px;
	height:90vh;


	.menu{

		color:#333;
		font-size:13px;
		text-transform: uppercase;
		position:relative;
		top:12%;
		width:88%;
		left:7%;
		right:7%;

		p{
			border-bottom:1px solid #eee;
			padding-bottom: 15px;
			cursor:pointer;

			i{
				color:#555;
				float:right;
				font-size:18px;
			}
		}

		p.email{
			text-transform: lowercase;
			font-size:15px;
		}

	}

}

}