<div [@routerTransition] class="container" id="container-options" >

	<div class="row">
		<div class="col-12">
			<div class="menu">
				<p [routerLink]="[ '/'+ mainRoutes.nested.saved ]">{{ 'savedposts' | translate}}<i class = "fa fa-chevron-right"></i></p>
				<p [routerLink]="[ '/'+ kingRoutes.main.signin ]">{{ 'signin' | translate}}<i class = "fa fa-chevron-right"></i></p>
				<p [routerLink]="[ '/'+ kingRoutes.main.signupuser ]">{{ 'signup' | translate}}<i class = "fa fa-chevron-right"></i></p>
				<p [routerLink]="[ '/'+ mainRoutes.nested.info ]">{{ 'rulesandinfo' | translate}}<i class = "fa fa-chevron-right"></i></p>
				<!--p >{{ 'clearhistory' | translate}}<i class = "fa fa-trash"></i></p-->
				<p>{{ 'language' | translate}}<i class = "fa fa-chevron-down"></i></p>
				<p (click)="i18n.changeLang('ru')" >RU<i class = "fa fa-globe"></i></p>
				<p (click)="i18n.changeLang('en')" >EN<i class = "fa fa-globe"></i></p>
				<p class = "email">hello@sweetvel.com<i class = "fa fa-envelope"></i></p>
			</div>
		</div>
	</div>

</div>