<div class="post-page-header" #postheader>
	<div style="filter:brightness(90%)" *ngIf="HELPERS.IOSstatusBarRender()" class="statusBar"></div>

	<div class="header-content">
		<i class="fa fa-chevron-left hidden-lg-up" [routerLink]="['']"></i>

		<h2 [routerLink]="['']" class="uppertxt">{{ postData?.anonym ? 'TOPSECRET' : postData?.owner?.login }} </h2>
		<h2 [routerLink]="['']" class="uppertxt txtshadow2">{{ postData?.anonym ? '' : postData?.owner?.tps?.name }} </h2>

		<div class="hor-flexer"></div>

		<div class="header-social">
			<a>
				<i *ngIf="!LocaldataService.checkIfHavePost(urlParams.id)" (click)="LocaldataService.addLocalPost(urlParams.id)" class="fa fa-bookmark-o"></i>
				<i *ngIf="LocaldataService.checkIfHavePost(urlParams.id)" (click)="LocaldataService.addLocalPost(urlParams.id)" class="fa fa-bookmark"></i>
			</a>
		</div>

		<!--div class="header-social" >
			<a *ngIf="postData?.owner?.facebook" [href]="postData?.owner?.facebook" >
				<i class="fa fa-facebook"></i>
			</a>
			<a *ngIf="postData?.owner?.instagram" [href]="postData?.owner?.instagram">
				<i class="fa fa-instagram"></i>
			</a>
			<a *ngIf="postData?.owner?.vkontakte" [href]="postData?.owner?.vkontakte">
				<i class="fa fa-vk"></i>
			</a>
			<a *ngIf="postData?.owner?.twitter" [href]="postData?.owner?.twitter">
				<i class="fa fa-twitter"></i>
			</a>
			<a *ngIf="postData?.owner?.linkedin" [href]="postData?.owner?.linkedin">
				<i class="fa fa-linkedin"></i>
			</a>
			<a *ngIf="postData?.owner?.telegram" [href]="postData?.owner?.telegram">
				<i class="fa fa-paper-plane"></i>
			</a>
		</div-->

		<!--div>
			<mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
			<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
				<button mat-menu-item (click)="copyLink()">Копировать ссылку</button>
			</mat-menu>
		</div-->

	</div>
</div>

<div *ngIf="HELPERS.BrowserOk() && waitPost && !errorResponse" id="post-preloader">
	<mat-spinner [diameter]="60"></mat-spinner>
</div>

<div class="container-fluid">

	<div class="row" *ngIf="errorResponse">
		<div class="col-12">
			<div class="w-100 no-page " role="alert">
				<img height="200px" src="../../assets/img/404.svg">
				<h2>{{ 'pagenotexist' | translate }}</h2>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="!errorResponse">

		<div class="col-lg-12 col-md-12  col-12 mx-auto">

			<div class="post">

				<div #mainImageDOM class="post-image-main " [style.backgroundImage]="'linear-gradient(to bottom,rgba(0,0,0,0.95) , transparent ) ,url('+imageMain +' ),url(../../../assets/img/img5.jpg)' | safestyle ">
					<div class="vert-flexer"></div>
					<div class="post-title">
						<div class="title-badge">
							<h5>
								<b class="title uppertxt txtshadow">{{ postData?.title }}</b>
							</h5>

						</div>

						<div class="post-extra">

							<div *ngIf="!postData?.anonym" [routerLink]="[ '/'+postData?.owner?.login ]" [style.backgroundImage]="'url('+postData?.owner?.pokerfaceformatted +' ),url(../../../assets/img/avatar.png)' | safestyle "
							 class="avatar mat-elevation-z4">
							</div>
							<div *ngIf="postData?.anonym" [style.backgroundImage]="'url(../../../assets/img/avatar.png)' | safestyle " class="avatar mat-elevation-z4">
							</div>

							<div class="post-info">
								<b *ngIf="!postData?.anonym" class="uppertxt">{{ postData?.owner?.login }} {{ postData?.owner?.tps?.name }}</b>
								<b *ngIf="postData?.anonym" class="uppertxt">@TOPSECRET</b>
								<div *ngIf="postData?.updated_at" class="posttime">{{ 'updated' | translate }} {{ postData?.productiontimestamp || postData?.created_at | converttime }} </div>
							</div>
							<div class="hor-flexer"></div>
							<div matTooltip="CHAKIRBERG TOP RATE">
								<i *ngIf="postData?.approve" class="approved fa fa-star-o"></i>
							</div>

						</div>

					</div>

				</div>

				<div media-source class="post-image-list" *ngIf="postData?.gallery">
					<div class="post-image-list-item-wrapper mat-elevation-z4" *ngFor="let img of postData?.image">
						<img src="{{img}}">
					</div>
				</div>

				<div id="share-btns-group" *ngIf="HELPERS.BrowserOk()" >
					<share-button [url]="host" [theme]="'modern-dark'" [button]="'facebook'" [showText]="true" [showCount]="true" [size]="-4"></share-button>
					<share-button [url]="host" [theme]="'modern-dark'" [button]="'vk'" [showText]="true" [showCount]="true" [size]="-4"></share-button>
					<share-button [url]="host" [theme]="'modern-dark'" [button]="'telegram'" [showText]="true" [showCount]="true" [size]="-4"></share-button>
					<share-button [url]="host" [theme]="'modern-dark'" [button]="'whatsapp'" [showText]="true" [showCount]="true" [size]="-5"></share-button>
					<share-button [url]="host" [theme]="'modern-dark'" [button]="'twitter'" [showText]="true" [showCount]="true" [size]="-5"></share-button>
					<share-button [url]="host" [theme]="'modern-dark'" [button]="'google'" [showText]="true" [showCount]="true" [size]="-5"></share-button>
					<share-button (click)="copyLink()" [url]="host" [theme]="'modern-dark'" [button]="'copy'" [showText]="true" [size]="-5"></share-button>
				</div>

				<div class="post-block-wrapper row mx-auto">

					<div class="col-lg-9 ">

						<!--div  style = "padding:0px !important" class = "mx-auto col-lg-10 col-12">
							<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=ae_assoc_fashion&banner=0GP5F4X94AW82WAD2T02&f=ifr&linkID=306fee31d6286fc8690e9169ae62bb7b&t=chakirberg-20&tracking_id=chakirberg-20"
							 width="100%" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
						</div-->

						<div *ngIf="postData?.desc" brokenimg-handler media-source #postblockhost class="post-desc flasheditor-helpers" [innerHTML]=" postData?.desc | pmSanitizeHtml"></div>
						<hr class = "devider">

					</div>

					<div class="col-lg-3" style="padding:0px !important;">

						<div *ngIf="!postData?.anonym" class="post-author-card text-center" #authorcard >

							<div class="w-100">
								<div [style.backgroundImage]="'url('+postData?.owner?.pokerfaceformatted +' ),url(../../../assets/img/avatar.png)' | safestyle "
								 class="post-author-card-avatar ">
								</div>
							</div>

							<div class="w-100">
								<span class="post-author-card-title-info uppertxt">{{ postData?.owner?.login }}</span>
								<span class="post-author-card-title-info uppertxt">{{ postData?.owner?.tps?.name }}</span>
							</div>

							<div *ngIf="postData?.owner?.firstname" class="w-100">
								<span class="uppertxt">{{ postData?.owner?.firstname + " " + postData?.owner?.lastname }}</span>
							</div>

							<div class="w-100">
								<span class="post-author-card-subtitle-info">
									<b>{{ 'founded' | translate }} {{ postData?.owner?.created_at | converttime | cuttext : 15}}</b>
								</span>
							</div>

							<div *ngIf="postData?.owner?.about" class="w-100 post-author-card-about">
								<span class="post-author-card-subtitle-info">{{ postData?.owner?.about}}</span>
							</div>

							<div class="w-100">
								<span class="post-author-card-title-info">
									<i *ngIf="postData?.owner?.role == 'superuser' " class="fa fa-star"></i>
									<i *ngIf="postData?.owner?.role == 'admin' " class="fa fa-star-half-o"></i>
									{{ postData?.owner?.role | rolestransform}}</span>
							</div>

							<div class="post-author-card-socials">
								<a *ngIf="postData?.owner?.instagram" [href]="postData?.owner?.instagram">
									<i class="fa fa-instagram"></i>
								</a>
								<a *ngIf="postData?.owner?.facebook" [href]="postData?.owner?.facebook">
									<i class="fa fa-facebook-square"></i>
								</a>
								<a *ngIf="postData?.owner?.vkontakte" [href]="postData?.owner?.vkontakte">
									<i class="fa fa-vk"></i>
								</a>
								<a *ngIf="postData?.owner?.linkedin" [href]="postData?.owner?.linkedin">
									<i class="fa fa-linkedin"></i>
								</a>
							</div>

							<button [routerLink]="[ '/'+postData?.owner?.login ]" class="iosBtn">{{ 'go' | translate }}</button>

						</div>

						<div *ngIf="postData?.anonym" class="post-author-card text-center" #authorcard>

							<div class="w-100">
								<div [style.backgroundImage]="'url(../../../assets/img/avatar.png)' | safestyle " class="post-author-card-avatar ">
								</div>
							</div>

							<div class="w-100">
								<span class="post-author-card-title-info uppertxt">@TOPSECRET</span>
							</div>

						</div>

						<!--div class="post-additional">

							<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=ae_assoc_fashion&banner=051V8979ZEVCAQJT4F02&f=ifr&linkID=df5a83013470f36a819b2d2e80b8677e&t=chakirberg-20&tracking_id=chakirberg-20"
							 width="100%" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
							<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=ae_assoc_fashion&banner=0PQX9617JMNH3658SXG2&f=ifr&linkID=32e301f1896f4c33b9d5ad19f1b49f9a&t=chakirberg-20&tracking_id=chakirberg-20"
							 width="100%" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

							<mat-card *ngFor="let rel of relatedPosts" class="example-card ">
								<div (click)="changeArticle(rel._id)" class="card-img" [style.backgroundImage]="'url('+rel?.image[0] +' ),url(../../../assets/img/img5.jpg)' | safestyle ">
									<div class="text-block-wrapper">
										<b class="uppertxt txtshadow">{{ rel.title }}</b>
									</div>
								</div>

							</mat-card>

							<div class="ADW">
								<img src="https://sweetvel.com/assets/img/adw.jpg">
							</div>

						</div-->

					</div>

				</div>

			</div>


			<div class="col-lg-3 col-12 ">

			</div>

			<div class="col-lg-9 col-12 text-center" style="padding:0">

				<div  class="post-additional" >
					<mat-card class="example-card " *ngFor="let rel of relatedPosts">
						<div (click)="changeArticle(rel._id)" class="card-img" [style.backgroundImage]="'url('+rel?.image[0] +' ),url(../../../assets/img/img5.jpg)' | safestyle ">
							<div class="text-block-wrapper">
								<b class="uppertxt txtshadow">{{ rel.title }}</b>
							</div>
						</div>
					</mat-card>
				</div>

				<div class="comments-block" >
					<ch-comments *ngIf="postData?.comments" [boxid]="urlParams.id" [boxidowner]="postData?.owner?._id" [writer] = "true"></ch-comments>
				</div>

			</div>

			<div class="col-lg-3 col-12 ">

			</div>

			<div class="col-12 landscape-info  text-center" style="display:none">

				<div class="alert alert-warning" role="alert">
					<h1>{{ 'turndevice' | translate }}</h1>
				</div>
			</div>

		</div>
	</div>


	<div class="navigation-buttons" #navigationButtonsDOM>

		<button [ngClass]="{ 'mat-elevation-z4' : HELPERS.isAndroid() }" (click)="scrollBottom()">
			<i class="fa fa-chevron-down"></i>
		</button>

		<button [ngClass]="{ 'mat-elevation-z4' : HELPERS.isAndroid() }" (click)="scrollTop()">
			<i class="fa fa-chevron-up"></i>
		</button>

	</div>

	<!--div id="amzn-assoc-ad-4f935a5a-8643-4dd0-a3ee-f6ccd0eb0268"></div-->
</div>

<app-footer [col]="'white'" [fontcol]="'#555'"></app-footer>