@import "../../assets/style/variables.scss";
@import "../../assets/style/helpers.scss";

app-postpage{

	$titlesFontSize : 15px;
	$optimalWidth : 75%;
	$optimalWidthMobile : 98%;
	$leftBlockWidth : 70%;

	.container-fluid{

		color:$fontcolor;
		overflow:hidden;
		background-attachment: fixed !important;
		min-height:700px;
		padding:0px;
	}


	#share-btns-group{
		position: relative;
		text-align: left;
		right:0px;
		left:0px;
		top:0px;
		padding-top:5px;
		padding-bottom:5px;
		width:70%;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		margin:auto;
	}


	#post-preloader{

		display: block;
		width:100%;
		height:100vh;
		background: white;
		text-align: center;
		position: fixed;
		left:0px;
		right:0px;
		bottom:0px;
		top:0px;
		z-index:100;

		mat-spinner{
			position: absolute;
			top:0;bottom:0;right:0;left:0;
			margin:auto;
		}

	}

	.navigation-buttons{

		position:fixed;
		width:100%;
		height:60px;
		text-align: center;
		bottom:0px;
		transform:translateY(100%);
		transition:0.7s;

		.fa{
			color:$themecolor1;
			font-size:17px;
		}

		button{
			cursor:pointer;
			border:1px solid #ddd;
			border-radius:40px;
			height:50px;
			width:50px;
			margin:2px;
			background: white;
		}

	}

	.post-page-header{

		transition:0.7s;
		font-family:$titlefontfam;
		width:100%;
		position: fixed !important;
		top:0;
		left:0;
		right:0;
		z-index:999;
		border-bottom:0.7px solid $barsbordercolorlite ;
	//	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

		.header-content{

			padding-left:5px;
			padding-right:5px;
			height:65px;
			display:flex;
			justify-content: space-between;
			align-items: center;
			width:$optimalWidth;
			justify-content: space-between;
			color:$themecolor1StatusBar;
			margin:auto;


			h2{

				max-width:50%;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-top:5px;
				padding:2px;
				font-weight:600;
				font-size:40px;
				cursor:pointer;


			}

			h2:nth-of-type(2){
				color:white;
				margin-left:10px;
			}

			.header-social{

				i{
					text-indent:40px;
					font-size:30px;
					color:$themecolor1StatusBar;
				}

				i.fa-paper-plane{font-size:22px;}

			}
		}
	}


	.post{
		background: white;
		color:$fontcolor;
		display:flex;
		flex-wrap: wrap;
		width:100%;
		min-height:500px;
		height:auto !important;
		margin-top:0px ;
	}

	.post-block-wrapper{
		width:90%;
	}

	.post-image-list{
		float:left;
		width:100%;
		margin:10px auto 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border:1px solid #ccc;
		background:linear-gradient(rgba(212, 225, 87,0.8), rgba(212, 225, 87,0.8)),url(../../assets/img/img5.jpg);
		border-radius:0px;

		.post-image-list-item-wrapper{

			height:110px;
			width:110px;
			overflow:hidden !important;
			cursor:pointer;
			margin:10px 15px 10px 15px;

			img{

				transition: 0.5s;
				object-fit:cover;
				height:100%;
				width:100%;

				&:hover{
					transform:scale(1.4);
				}
			}

		}

	}

	.post-desc h1 , .post-desc p, .post-desc h1  {
		color:rgba(0,0,0,0.73);
	}


	.post-desc{

		width:$leftBlockWidth;
		padding:15px 0 35px 0;
		margin:auto;

		h1:nth-of-type(1),h2:nth-of-type(1){
			margin-top:0px;
		}

		h1 ,h2 ,h3 ,h4 , h5, h6{
			margin:40px 0px 40px 0px;
			font-size:45px !important;
			font-family:$titlefontfam !important;
			text-indent:-40px;
		}

		p{
			font-size:20px;
		}

			h1:before ,h2:before ,h3:before {
				content:"#";
				color:#ddd;
				font-size:55px;
				margin-right:15px;
			}

		.jumbotron{
			padding:15px;
			margin:27px 5px 27px 5px;
			color:#656565;
			border-left:4px  solid #ccc;
			border-radius:2px;margin-top:15px;

		}

		.w-100{	margin:auto;}

		img{
			display: block;
			width : 100% ;
			margin:10px auto 10px auto;
			cursor:pointer;

			}

	}

	.post-author-card{
		background:white;
		padding:20px;
		width:300px;
		border:0px solid red;
		min-height:200px;
		text-align:center;
		margin-bottom:20px;
		position:absolute;
		z-index:0;

		div:nth-of-type(1),div:nth-of-type(2){
			border-width:0px;
		}

		div{
			border-top:1px solid #eee;
			padding:5px 8px 5px 8px;
			text-align:justify;
		}

		.post-author-card-avatar{
			$size:90px;
			height:$size;
			width:$size;
			border-radius:$size;
			background-size:cover;
			background-position: center;
			margin-bottom:10px;
			border:0px solid $themecolor1 !important;
		}

		.post-author-card-title-info{
			font-size:17px;
			font-weight: bold;
		}

		.post-author-card-subtitle-info{
			font-size:14px;
		}

		.post-author-card-socials{
			a,i{color:#aaa;}

			i{
				font-size:27px;
				margin-right:15px;
			}
		}

		button{
			margin:10px 0 0 6px;
		}

	}

	.comments-block{
		width:$leftBlockWidth;
		margin:50px auto;
	}

	.post-additional{

		width:$leftBlockWidth;
		box-shadow: 0 0px 0px 0  rgba(0,0,0,0.4) !important;
		padding:0px;
		margin:auto;
		height:auto;
		display:inline-block;

		.post-additional-title{
			font-family:$titlefontfam;
			font-size: 30px;
		}


		mat-card{
		//	box-shadow: 0 0 0 !important;
			margin:10px 1% 10px 1% !important;
			width:48%;
			padding:0px !important;
			border-radius:2px;
			border:0px solid #ddd;
			cursor:pointer;
			transition:0.5s;
			float:left;

			&:hover{
				filter:brightness(80%) ;
			}

			.card-img{
				height:230px;
				min-width:100%;
				background-position: center top;
				background-size: cover;
				border-radius:0px;
			}

			.text-block-wrapper{
				position:absolute;
				bottom:0px;
				color:white;
				padding:10px;
				font-size:12px;
				width:100%;
				font-family: $titlefontfam;
				background: rgba(0,0,0,0.5);
			}

			.button-block{
				margin:10px;
			}

			mat-card-content{
				font-family:$deskfontfam;
			}

		}
	}

	.ADW{
		border-radius:2px;
		height:250px;
		display:flex;
		background:white;
		flex-direction:column;
		margin:20px auto 20px auto;
		text-align:center;
		border:1px solid #ddd;
		width:100%;


		img{
			object-fit: cover;
			width:auto;
			height:250px;
		}

	}

	.post-image-main{

		display: flex;
		flex-direction: column;
		background-size:cover;
		background-position: center center;
		height:100vh;
		width:100%;
		padding:0px 0px 20px 0px;
		border-bottom:1px solid #aaa;
		background-attachment: fixed;
	}

	.post-title{
		max-height:270px;
		padding:15px;
		font-family:$titlefontfam;
		background: rgba(0,0,0,0.0);
		border-radius:2px;
		width:$optimalWidth;
		margin:auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		color:white;
		text-shadow:0px 0px 1px $barsbordercolorlite;

		.title {
			font-size:35px;
			width:600px;
			display:block;
			word-wrap: break-word;
		}

		.title-badge{
			width:100%;
			display: flex !important;
			align-items:center;
			text-align: left;

			button{
				height:40px ;
				width:40px;
				min-height:40px ;
				min-width:40px;
				padding:0px;
				text-align:center;
				margin-right:15px;
				color:white;
				border:0px;
				border-radius:40px;
				background-color:rgb(143, 96, 225) ;
			}
		}
	}


	.post-extra{
			display: flex ;
			align-items: center;
			width:100%;

			div{
				margin-right:10px;
			};

			.avatar{
				min-height:50px ;
				min-width:50px;
				border-radius: 50px;
				background-color: #ccc;
				background-size:cover;
				background-position: center center;
				border:2px solid $themecolor1;
				cursor:pointer;
				transition:0.7s;

				&:hover{
					border:2px solid orangered;
				}

			}

			.post-info{
				display:flex;
				flex-wrap: wrap;
				align-items: center;
				padding:3px 0px 3px 0px;
				justify-content: space-between;
				width:300px;

				.posttime{
					white-space: nowrap;
					text-overflow:ellipsis;
					overflow:hidden;
					width: 300px;
					font-size:15px;
				}
			}

			.approved{
				font-size:35px;
			}
	}


	.no-page{
		text-align: center;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top:80px;
		height:450px;
		color:white;
	}





	@media screen and (max-width: 1000px){


		.container-fluid{
			padding:0px;
			min-height:100vh;
		}

		#share-btns-group{
			width:100%;
		}

		.post-page-header{

			box-shadow:0px 0px 0px;

			.header-content{

				width:$optimalWidthMobile;
				height:45px;

				h2{
					font-size:28px;
					font-weight:200;
					margin-left:0px;
				}

				.header-social{

					i{text-indent:8px;}

				}

			}
		}

		.jumbotron{
			border:0.7px  solid #ccc !important;
			border-radius:4px !important;
		}

		.post{
			width:100% !important;
			flex-direction: column !important;
		}

		.post-block-wrapper{
			width:100%;
		}

		.post-desc{
			width:100% !important;
			font-size:16px;
			margin:0px auto;
			word-wrap: break-word;
			padding:0px 15px 15px 15px;

			p{
				font-size:17px;
			}

			h1 ,h2 ,h3 ,h4 , h5, h6{
				margin:0px 0px 35px 0px !important;
				font-size:28px !important;
				text-indent:0;
			}

			h1:before ,h2:before ,h3:before {
				content:"" !important;
				margin:0;
			}


		/* MOBILE IMAGE HANDLER *///

			img,section{
				margin:10px -15px 10px -15px !important;
				min-width: calc( 100% + 30px) !important;
			}


		/* //////////////////////////////////////////////////// */

		}

		.post-author-card{
			width:100%;
			position:relative !important;
		}

		.comments-block{
			width:100%;
			padding:0;
		}

		.post-image-list{
			border-radius: 0px;
			justify-content: flex-start !important;
			flex-wrap:nowrap;
			overflow-x:scroll;
			-webkit-overflow-scrolling: touch;
			width:100%;
		}

		.post-image-list-item-wrapper{
			margin:7px !important;
			min-height:90px !important;
			min-width:90px !important;
			max-height:90px !important;
			max-width:90px !important;

		}

		.post-image-list-item{
			height:100% !important;
			width:100% !important;
			}


		.post-additional{

			width:100% !important;
			margin-top:0px !important;

			.post-additional-title{
				margin-left:15px;
			}


			mat-card{

				margin:10px 0 !important;
				border-radius:0px;
				box-shadow:0 0 0 !important;
				width:100% !important;

				.card-img{
					border-radius:0px;
					height:270px;
				}

				.text-block-wrapper{
					font-family:arial;
				}

			mat-card-content{
				font-family: $mobilefontfam  !important;
			}

			}
		}

		.ADW{
			box-shadow:0 0 0 !important;
			width:100% !important;
		}

		.post-image-main{
			width:100%;
			height:400px ;
			position:relative;
			top:0px;
			padding:0px;
			background-attachment: initial;
		}


		.post-title{
			padding:10px;
			width:$optimalWidthMobile;
			background: rgba(0,0,0,0.12);

			.title{
				width:85%;
				font-size: 17px !important;
			}
		}

		.post-info{
			width:70% !important;
		}


		.post-title .title , .post-title .post-info *{
			font-size:13px;
			font-family:arial;
		}



	}


	/* FOR IPAD */

		@media only screen
  			and (min-device-width: 768px)
  			and (max-device-width: 1024px)

			{

			.post-title{
				top:420px !important;
			}

			.post-image-main{
				height:500px;
			}

			.post-additional{

				mat-card{
					.card-img{
						height:500px;
					}
				}
			}



		}

/* /////////////////////////////////////////////////*/



		@media only screen
			and (min-device-width: 768px)
			and (max-device-width: 1024px)
			and (orientation: landscape)
			and (-webkit-min-device-pixel-ratio: 1)
			{
				.post , .post-additional , .ADW, .comments-block{
					display:none;
				}

				.landscape-info {
					height:600px;
					display: flex !important;
					align-items: center;
					justify-content: center;
					text-transform:uppercase;
				}
		}

		@media only screen
		and (min-device-width: 1024px)
		and (max-device-width: 1024px)
		and (orientation: portrait)
		and (-webkit-min-device-pixel-ratio: 2) {

			.post , .post-additional , .ADW {
				display:none ;
				}

			.landscape-info {
				height:600px;
				display: flex !important;
				align-items: center;
				justify-content: center;
				}
			}

	}

	body::-webkit-scrollbar,	textarea::-webkit-scrollbar {
 		width: 7px;
	}

	body::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
		background-color: $themecolor1 !important;
	}


