<!-- \\\\\\\\\\\\\\ HEADER MOBILE  \\\\\\\\\\\\\\\\ -->


<div [style.background]="theme?.primarycolor" class=" mx-auto header-mobile hidden-lg-up">

	<div *ngIf="HELPERS.IOSstatusBarRender()" style="filter:brightness(90%)" class="statusBar" #statusbar></div>

	<div class="header-mobile-content">

		<div class="search">
			<i [style.color]="theme?.secondarycolor" class="fa fa-refresh" (click)="RefreshPage()"></i>
		</div>

		<div class="title txtcut">
			<h3 [style.color]="theme?.secondarycolor" class="txtshadow2 float-left txtcut" [routerLink]="['']">{{ title }}</h3>
			<h3 [style.color]="theme?.altcolor" class="txtshadow2 float-left txtcut" style="color:#555555;margin-left:10px">{{ typo }}</h3>
		</div>

		<div class="locker">
			<!--i *ngIf="statusLock" class="fa fa-unlock-alt"></i>
			<i *ngIf="!statusLock" class="fa fa-lock"></i-->
			<i [style.color]="theme?.secondarycolor" class="fa fa-sign-in" [routerLink]="['/space/page/signin']"></i>
		</div>

	</div>

</div>

<!-- \\\\\\\\\\\\\\ MOBILE CATEGORIES  \\\\\\\\\\\\\\\\ -->
<div *ngIf="HELPERS.IOSstatusBarRender()" class="statusBarFixer"></div>

<nav class="nav-categories hidden-lg-up">
	<i class="fa fa-chevron-left" (click)="scrollHorizontal('left')" ></i>
	<div class="categories-list" #categoriescontainer>
		<span *ngIf="categories" (click)="fetchCategory('ALL')">{{ 'all' | translate }}</span>
		<span (click)="fetchCategory(ctg.number)" *ngFor="let ctg of categories">{{ ctg.name | translate }}</span>
	</div>
	<i class="fa fa-chevron-right" (click)="scrollHorizontal('right')"></i>
</nav>


<!-- \\\\\\\\\\\\\\ HEADER DESKTOP  \\\\\\\\\\\\\\\\ -->


<div [style.background]="theme?.primarycolor" class="header-desktop hidden-md-down" #postheader>
	<div style="filter:brightness(90%)" *ngIf="HELPERS.IOSstatusBarRender()" class="statusBar"></div>

	<div #headerdesktop class="header-desktop-content">

		<i class="fa fa-chevron-left hidden-lg-up" [routerLink]="['']"></i>
		<span [routerLink]="['']">
			<div style="display:flex" class="logo">
				<h2 [style.color]="theme?.secondarycolor">{{ title }}</h2>
				<h2 [style.color]="theme?.altcolor" style="color:#555555;margin-left:10px">{{ typo }}</h2>
			</div>
		</span>

		<div *ngIf="categories" class="categories-wrapper" [style.background]="theme?.name !== 'default' ? theme?.primarycolor : null">
			<i (click)="scrollHorizontal('left')" class="fa fa-chevron-left "></i>
			<div #headercategoriescontainer class="categories" >
				<span (click)="fetchCategory('ALL')">#{{ 'all' | translate}}</span>
				<span (click)="fetchCategory(ctg.number)" *ngFor="let ctg of categories" class="" [style.color]="theme?.secondarycolor">#{{ ctg.name | translate }}</span>
			</div>
			<i (click)="scrollHorizontal('right')" class="fa fa-chevron-right"></i>
		</div>

		<div class="hor-flexer"></div>

		<div class="header-social">

			<!--a *ngIf = "fb" [href]="fb">
				<i [style.color] = "theme?.secondarycolor" class="fa fa-facebook"></i>
			</a>
			<a *ngIf = "insta" [href]="insta">
				<i [style.color] = "theme?.secondarycolor" class="fa fa-instagram"></i>
			</a>
			<a *ngIf = "vk" [href]="vk">
				<i [style.color] = "theme?.secondarycolor" class="fa fa-vk"></i>
			</a>
			<a *ngIf = "tg" [href]="tg">
				<i [style.color] = "theme?.secondarycolor" class="fa fa-paper-plane"></i>
			</a>
			<a *ngIf = "ld" [href]="ld">
				<i [style.color] = "theme?.secondarycolor" class="fa fa-linkedin"></i>
			</a-->

			<a>
				<i [style.color]="theme?.secondarycolor" class="fa fa-sign-in" [routerLink]="['/space/page/signin']"></i>
			</a>

		</div>

	</div>
</div>