@import "../../../assets/style/variables.scss";

::ng-deep ch-header{

	$optimalWidth : 97%;

	.header-desktop{

		transition:1s;
		font-family:$titlefontfam;
		width:100%;
		position: fixed !important;
		top:0;
		left:0;
		right:0;
		z-index:999;
		border-bottom:0.7px solid $barsbordercolorlite ;
		background:rgba(255,255,255,0.97);
		box-shadow: $matelevationlite;

		.header-desktop-content{

			height:65px;
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			width:$optimalWidth;
			justify-content: space-between;
			color:$themecolor1StatusBar;
			margin:auto;

			h2{
				text-transform:uppercase;
				margin-top:5px;
				font-size:40px;
				font-weight:600;
				cursor:pointer;
			}

			.categories-wrapper{

				$contwidth : 500px;
				padding:0 3px 0 3px;
				text-align:center;
				width: $contwidth;
				border:0px solid rgba(0,0,0,0.03);
				margin-left:70px;
				border-radius:4px;
				//filter:brightness(95%);
				text-transform: uppercase;
				display:flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: nowrap;
				white-space: nowrap;

				i{cursor:pointer}

				.categories{

					width:93%;
					height:auto;
					overflow-x:scroll;
					margin:auto;

					&::-webkit-scrollbar {
						width: 0px ;
						height:0px; /* remove scrollbar space */
						background: transparent ;  /* optional: just make scrollbar invisible */
					}


				}


				span{
					margin-left:5px;
					margin-right:15px;
					font-size:17px;
					cursor:pointer;
					display:inline-block;
					//font-weight: bold;
					//filter:brightness(105%);
				}

			}

			.header-social{

				i{

					font-size:25px;
					color:$themecolor1StatusBar;
					margin-left:100px;
					cursor: pointer;

				}

				i.fa-paper-plane{
					font-size:22px;
				}

			}

		}

	}


	.header-mobile{

		transition:1s;
		overflow-x: hidden;
		background: white;
		color:$themecolor1StatusBar;
		width:100%;
		position:fixed;
		top: 0;
		left:0px;
		right:0px;
		max-width:100%;
		z-index:2500;

		.header-mobile-content{

			transition: 0.5s;
			overflow-x: hidden;
			height:$toolbarMobileHt ;
			width:100%;
			max-width:100%;
			min-width:100%;
			border-bottom:0.6px solid $barsbordercolorlite ;
			font-size:17px;

			.search,.title,.locker{
				display:block;
				float:left;
				text-align:center;
				display:block;
				height:100%;
				padding-top:10px;
			}

			.search , .locker{
				width:13%;
			}

			.title{
				display:flex;
				align-items: center;
				justify-content: center;
				font-family:$titlefontfam;
				width:74%;
				font-size:22px;
				text-align: center;
				padding-bottom:4px;
				text-transform: uppercase;
			}


			.fa{
				font-size:25px ;
				width:20px;
			}

		}

	}

	.nav-categories{

			margin:$toolbarMobileHt  auto 0px auto;
			height:45px;
			border:1px solid #eee;
			border-radius:2px;
			width:100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			color:#656565;
			-webkit-overflow-scrolling: touch;
			box-shadow: $matelevationlite;

			i{
				margin:10px;
				font-size:17px;
				cursor:pointer;
				color:yellowgreen;
			}

			.categories-list{
				position:relative;
				width:100%;
				overflow:auto;
				font-size:14px;
				max-height:30px;
				white-space: nowrap;
				justify-content: center;
				text-align:center;

				span{
					transition:0.3s;
					margin-right:10px;
					text-transform: uppercase;

					&:before{ content:"#"; }

					&:hover{
						color:yellowgreen;
						cursor:pointer;
					}
				}


				&::-webkit-scrollbar {
    				width: 0px ;
					height:0px; /* remove scrollbar space */
    				background: transparent ;  /* optional: just make scrollbar invisible */
				}
			}
		}

}