<div class="nav-footer-mobile hidden-lg-up">
	<div [ngClass] = "{ 'androidNav' : HELPERS.isAndroid() }"  class = "footer-content">
		<i  *ngIf = "backBtn" (click) = "back()" class="fa fa-chevron-left "></i>
		<ng-content></ng-content>
	</div>
	<div class="footerfitter"></div>
</div>