@import "../../../assets/style/variables.scss";

::ng-deep app-mobilemenu{

	$footerback : whitesmoke;

	.nav-footer-mobile{

		transition:0.5s;
		position:fixed !important;
		width:100%;
		z-index:1000;
		bottom:0px !important;
		left:0px;
		right:0px;

		.footerfitter{
			min-width:100%;
			height:constant(safe-area-inset-bottom);
			height:env(safe-area-inset-bottom);
			background:$footerback;
		}

		.footer-content{
			transition:0.5s;
			height:auto;
			border-top:0.7px solid $barsbordercolor ;
			height:$toolbarMobileHt;
			display:flex;
			align-items:center;
			font-size:28px;
			justify-content: space-around;
			background:$footerback;
			color:#555;
			/* STYLE 2
			background:rgba(0,0,0,0.8);
			color:$themecolor1;
			*/

		}

		i:hover{
			color:$themecolor1;
		}

	}

}