::ng-deep app-places{


	.container{
		height:300px;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	@media screen and(max-width:900px){
		.container{
			margin-top:30%;
			position:fixed;
		}
	}

}