@import "../../../assets/style/variables.scss";

::ng-deep dialog-editorgallery{

	.body{
		height:300px;
		overflow-y:auto;

		img{
			margin:10px;
			object-fit: cover;
			cursor:pointer;
		}


	}
}