<app-modal  [close] = "true">

	<div class="header ">

	</div>

	<div class = "body" >

		<img (click) = "selectImage(img) " *ngFor = "let img of images;" [src] = "img" height = "150" width = "150">

	</div>

</app-modal>
