@import "../../../assets/style/variables.scss";
app-postshandler{


	.mat-form-field-placeholder {
			font-size: 15px !important;
			line-height: 28px !important;
		}

	mat-form-field{
		width:100%;
	}


	.posts-handler{

		padding:30px;
		@extend %head1;

		.image-upload-block{

			display: flex;
			align-items: center;
			justify-content: center;
			margin:20px auto  0px;
			border:1px  dashed #ddd;
			width:100%;
			border-radius: 3px;
			height:200px;
			background-size:contain;
			background-repeat: no-repeat;
			background-position: center ;

			mat-icon{
				font-size: 40px !important;
				color:#555;
			}
		}

		.themeColor{
			height:40px;
			width:40px;
			border-radius:3px ;
			float:right;
			margin:5px;
			background: $themecolor;
		}

		output.error{
			width:100%;
			margin:7px;
			color:$errorColor;
		}

		output.success{
			width:100%;
			margin:7px;
			color:$successColor;
		}

		.posts-handler-footer{
			display:flex;
			align-items: center;
			justify-content: space-between;

			mat-icon{
				margin-right:20px;
				color:#555;
				font-size:30px;
			}
		}

	}

	@media  screen and(max-width:900px){

		.posts-handler{
			padding:15px 20px !important;
			min-height:700px !important;
		}

	}

}
