<div class="row">

	<div class="col-lg-12 col-md-12 col-12">
		<div class="mat-block  mat-elevation-z4 posts-handler mat-block-ht2" >

			<div class = "head" >
				<i class=  "fa fa-pencil-square-o"></i>
				<div class = "head-title">{{ 'createpost' | translate }}</div>
			</div>

			<hr>

			<form [formGroup]="postForm" (ngSubmit)="createKingWork()">
				<mat-form-field class="example-full-width" color = "accent">
					<input matInput placeholder="{{ 'name' | translate }}" formControlName="title">
					<mat-hint align="start">
					</mat-hint>
				</mat-form-field>

				<div class="image-upload-block" [style.backgroundImage]="imagePreviewDOM">
					<label for="postImage">
						<mat-icon>collections</mat-icon>
					</label>
					<!-- USE multiple Attribute In order TO Upload Multible Images(Back And Front For Multiple Uploads are ready) -->
					<input accept="image/*" #inputFileDOM (change)="imagePreview($event);setImage($event); inputFileDOM.value = ''" [hidden]="true"
					 type="file" id="postImage">
				</div>

				<!--mat-form-field class="example-full-width ">
					<textarea required formControlName="desc" matInput placeholder="Описание" matInput #message maxlength="10000 " matTextareaAutosize
					 matAutosizeMinRows="2" matAutosizeMaxRows="20"></textarea>
					<mat-hint align="start">
						<strong>Максимальная длина описания 10000 символов </strong>
					</mat-hint>
					<mat-hint align="end">{{message.value.length}} / 10000 </mat-hint>
				</mat-form-field-->

				<!--smarteditor defaultdata = "{{this.postForm.controls.desc.value}}" formControlName="desc" ></smarteditor-->

				<!--app-emoji (emojiEvent)="handleEmoji($event)"></app-emoji-->

				<mat-form-field color = "accent" >
					<mat-select placeholder="{{ 'category' | translate }}" formControlName="category" class = "uppertxt">
						<mat-option *ngFor="let dataCategory of categoryData" [value]="dataCategory.number" class = "uppertxt">
							{{ dataCategory.name | translate }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<!--mat-form-field class='w-75'>
					<mat-select placeholder="Стиль" formControlName="theme" (change)="colorPreview($event)">
						<mat-option *ngFor="let dataTheme of themeData" [value]="dataTheme.number">
							{{ dataTheme.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="themeColor mat-elevation-z4" #colorPreviewDOM></div>

				<div class="w-100">
					<mat-radio-group formControlName="type">
						<mat-radio-button value="POSTS"> Посты </mat-radio-button>
						<mat-radio-button value="NEWS"> Новости </mat-radio-button>
					</mat-radio-group>
				</div-->

				<mat-slide-toggle formControlName="anonym" color="accent" class="w-100 uppertxt">
					{{ 'anonympost' | translate }}
				</mat-slide-toggle>

				<br><br>

				<div *ngIf="postForm?.controls?.anonym.value" class="alert alert-warning w-100 text-left " role="alert">
					<span class = "uppertxt">{{ 'closedpostinfo' | translate }}</span>
				</div>

				<mat-slide-toggle formControlName="comments" color="accent" class="w-100 uppertxt">
					{{ 'comments' | translate }}
				</mat-slide-toggle>

				<br><br>

				<div *ngIf="postForm?.controls?.comments.value" class="alert alert-warning w-100 text-left" role="alert">
					<span class = "uppertxt">{{ 'commentsinfo' | translate }}</span>
				</div>

				<br><br>

				<div class="w-100 posts-handler-footer">
					<button type="submit" class = "iosBtn">{{ 'createandedit' | translate }}</button>
					<div  class = "hor-flexer"></div>
					<mat-icon matTooltip="{{ 'savetemporarydata' | translate }}"   size="5"   (click)="saveFormData()">archive</mat-icon>
					<mat-icon matTooltip="{{ 'gettemporarydata' | translate }}"   size="5" (click)="recoverFormData()">cached</mat-icon>
				</div>

			</form>
		</div>
	</div>

</div>