@import "../../assets/style/variables.scss";

	.container-fluid{

		height:auto;
		min-height:90vh;
		width:100%;
		display: flex;
		justify-content: center;
		position:relative;
		top:70px;
		padding:0px;

	}


	.video-card-wrapper{

		height:400px;
		margin-bottom:10px;
		width:100%;
		background-image:url('../../assets/img/yt.png');
		background-size: 30%;
		background-repeat: no-repeat;
		background-position: center;

	}


	@media screen and(max-width:900px){

		.container-fluid{
			top:10px;
			padding-bottom:75px;
		}

		.video-card-wrapper{
			height:300px;
		}

	}

