<div class="container-fluid"  [@routerTransition]>
	<div class="row w-100">
		<div *ngFor = "let video of videoData" class="col-lg-5 col-12 mx-auto text-center">
			<div class = "video-card-wrapper mat-elevation-z4" >
				<iframe scrolling="no" width="100%" height="100%" frameborder="0" allowfullscreen [src] = "video | safeurl"></iframe>
			</div>
		</div>
	</div>
</div>