<div class="row">

	<div class="col-lg-12 col-md-12 col-12">
		<div class="mat-block  mat-elevation-z4 editprofile-handler mat-block-ht2">

			<div class="head">
				<i class="fa fa-user-circle"></i>
				<div class="head-title">{{ 'editprofile' | translate }}</div>
			</div>

			<hr>

			<div *ngIf="errorHandler" class="alert alert-warning">
				{{ errorHandler.statusText | translate }}
			</div>

			<mat-spinner diameter="60" *ngIf="!checkObject(profileEditedForm) && !dataLoaded " class="preload-spinner stone"></mat-spinner>

			<form *ngIf="checkObject(profileEditedForm) && dataLoaded " [formGroup]="profileForm" (ngSubmit)="editProfile()">

				<mat-form-field hintLabel="{{ 'maximum' | translate }} 32 {{ 'symbols' | translate }}" class="w-100" color="accent">
					<input (input)="setLowerCase($event)" formControlName="login" matInput #input maxlength="32" placeholder="{{ 'profilename' | translate }}">
					<mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
					<mat-error *ngIf="profileForm.controls.login.errors?.minlength">{{ 'minimum' | translate }} 5 {{ 'symbols' | translate }}</mat-error>
				</mat-form-field>

				<mat-form-field hintLabel="{{ 'maximum' | translate }} 32 {{ 'symbols' | translate }}" class="w-100" color="accent">
					<input formControlName="firstname" matInput #input maxlength="32" placeholder="{{ 'namep' | translate }}">
					<mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
				</mat-form-field>

				<mat-form-field hintLabel="{{ 'maximum' | translate }} 32 {{ 'symbols' | translate }}" class="w-100" color="accent">
					<input formControlName="lastname" matInput #input maxlength="32" placeholder="{{ 'surnamep' | translate }}">
					<mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
				</mat-form-field>

				<mat-form-field class="example-full-width w-100" color="accent">
					<textarea formControlName="about" matInput placeholder="{{ 'description' | translate }} / {{ 'info' | translate }}" matInput
					 #message maxlength="500" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="20">
					 </textarea>
					<mat-hint align="start">{{ 'maximum' | translate }} 500 {{ 'symbols' | translate }}</mat-hint>
					<mat-hint align="end">{{message.value.length}} / 500</mat-hint>
				</mat-form-field>

				<mat-form-field class='w-100' color="accent">
					<mat-select placeholder="{{ 'profilelang' | translate }}" formControlName="lang" class='uppertxt'>
						<mat-option [value]="'ru'" class='uppertxt'>RU</mat-option>
						<mat-option [value]="'en'" class='uppertxt'>EN</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<mat-icon>explore</mat-icon>
							</mat-panel-title>
							<mat-panel-description>
								{{ 'linkstosocials' | translate }}
							</mat-panel-description>
						</mat-expansion-panel-header>

						<mat-form-field hintLabel="{{ 'link' | translate }} Instagram" class="w-100" color="accent">
							<i class="fa fa-instagram"> </i>
							<input formControlName="instagram" matInput #input maxlength="50">
							<mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
						</mat-form-field>

						<mat-form-field hintLabel="{{ 'link' | translate }} Facebook" class="w-100" color="accent">
							<i class="fa fa-facebook-square"></i>
							<input formControlName="facebook" matInput #input maxlength="50">
							<mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
						</mat-form-field>

						<mat-form-field hintLabel="{{ 'link' | translate }} Vkontakte" class="w-100" color="accent">
							<i class="fa fa-vk"> </i>
							<input formControlName="vkontakte" matInput #input maxlength="50">
							<mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
						</mat-form-field>

						<mat-form-field hintLabel="{{ 'link' | translate }} Twitter" class="w-100" color="accent">
							<i class="fa fa-twitter"> </i>
							<input formControlName="twitter" matInput #input maxlength="50">
							<mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
						</mat-form-field>

						<mat-form-field hintLabel="{{ 'link' | translate }} Linkedin" class="w-100" color="accent">
							<i class="fa fa-linkedin"> </i>
							<input formControlName="linkedin" matInput #input maxlength="50">
							<mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
						</mat-form-field>

					</mat-expansion-panel>

				</mat-accordion>


				<hr>
				<mat-form-field class='w-75' color="accent">
					<mat-select placeholder="{{ 'profiletype' | translate }}" (change)="changeTheme($event)" formControlName="theme" class='uppertxt'>
						<mat-option *ngFor="let theme of themesList" [value]="theme.number" class='uppertxt'>
							{{ theme.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<div #themepreview [style.background]="profileForm.controls?.style?.value?.primarycolor" class="theme-preview mat-elevation-z4">

				</div>

				<mat-form-field class='w-75' color="accent">
					<mat-select placeholder="{{ 'profiletype' | translate }}" formControlName="typo">
						<mat-option *ngFor="let typo of typosList" [value]="typo.number">
							{{ typo.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<!--mat-slide-toggle formControlName="anonym" [checked]="{ '1' : checked }[profileForm?.controls?.anonym.value]" color="primary"
				 class="w-100">
					{{ 'closedprofile' | translate }}
				</mat-slide-toggle>

				<div *ngIf="profileForm?.controls?.anonym.value" class="alert alert-warning w-100 text-center" role="alert">
					{{ 'closedprofileinfo' | translate }}
				</div-->

				<div class="vert-space1"></div>

				<button class="iosBtn float-left">{{ 'editprofile' | translate }}</button>
				<mat-spinner diameter="35" *ngIf="editProfilePreloader" class="float-right"></mat-spinner>

			</form>

			<br>

			<form *ngIf="checkObject(profileEditedForm)" [formGroup]="passwordForm" (ngSubmit)="editPassword()">

				<br>
				<br>

				<div class="head">
					<i class="fa fa-shield"></i>
					<div class="head-title">{{ 'changepassword' | translate }}</div>
				</div>

				<hr>

				<mat-form-field hintLabel="{{ 'maximum' | translate }} 50 {{ 'symbols' | translate }}" class="w-100" color="accent">
					<input type="password" formControlName="currentpassword" matInput #input maxlength="50" placeholder="{{ 'your' | translate }} {{ 'password' | translate }}">
					<mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
					<mat-error *ngIf="passwordForm.controls.currentpassword.errors?.minlength"> {{ 'minimum' | translate }} 5 {{ 'symbols' | translate }}</mat-error>
				</mat-form-field>

				<mat-form-field hintLabel="{{ 'maximum' | translate }} 50 {{ 'symbols' | translate }}" class="w-100" color="accent">
					<input type="password" formControlName="password" matInput #input maxlength="50" placeholder="{{ 'new' | translate }} {{ 'password' | translate }}">
					<mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
					<mat-error *ngIf="passwordForm.controls.password.errors?.minlength">{{ 'minimum' | translate }} 5 {{ 'symbols' | translate }}</mat-error>
				</mat-form-field>

				<mat-form-field hintLabel="{{ 'maximum' | translate }} 50 {{ 'symbols' | translate }}" class="w-100" color="accent">
					<input type="password" formControlName="repeatpassword" matInput #input maxlength="50" placeholder="{{ 'repeat' | translate }} {{ 'password' | translate }}">
					<mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
					<mat-error *ngIf="passwordForm.controls.repeatpassword.errors?.minlength">{{ 'minimum' | translate }} 5 {{ 'symbols' | translate }}</mat-error>
				</mat-form-field>

				<div *ngIf="passwordStatusText" class="alert alert-success w-100 text-center" role="alert">
					{{passwordStatusText}}
				</div>

				<div class="vert-space1"></div>

				<button type="submit" class="iosBtn  float-left">{{ 'changepassword' | translate }}</button>
				<mat-spinner diameter="35" *ngIf="changePasswordPreloader" class="float-right"></mat-spinner>
				<br>
				<br>
				<br>
				<br>

			</form>

		</div>
	</div>
</div>