@import "../../../assets/style/variables.scss";

::ng-deep app-editprofile{

	.editprofile-handler{

		padding:30px;
		min-height:700px !important;
		@extend %head1;

		.theme-preview{
			height:45px;
			width:45px;
			border-radius: 3px;
			border:0px solid #eee;
			float:right;
		}

	}

	@media  screen and(max-width:900px){

		.editprofile-handler{
			padding:15px 20px !important;
		}

	}

}