@import "../../assets/style/variables.scss";

app-gallery{

	a , a:active , a:hover {
		color: white;
		text-decoration: none;
	}

	[colorwht]{
		color:white !important;
	}

	.container-fluid{
		min-height:$containerDesktopHeight;
		max-width:95%;
		margin-top:20px;
	}

	mat-card{

		margin-bottom:20px;
		word-break: break-all;
		color:#444 !important;

		mat-card-content{

			height:125px;
			overflow:hidden;

		}

		.card-img{

			height:230px;
			min-width:100%;
			background-size:cover;
			background-position: center center;
			border-radius: 0px;

			button{

				color:white !important;
				font-weight: bold;
				margin-left:-20px;
				margin-top:-15px;
				background:yellowgreen !important;
			}
			.insta-button{
				background-color:#1769ff  !important;
			}

		}


		.button-gallery{
			background:yellowgreen !important;
			color:white !important;
		}

}

	@media screen and (max-width:900px){

		.container-fluid{
			margin-top:25px;
			min-height:$containermobileHeight !important;
			padding:0px;
		}

		.card-img{

			height:260px !important;

			button{
				margin-left:-7px !important;
				margin-top:-5px;
			}

		}

	}
}