<div class="container-fluid" [@routerTransition]>
	<div *ngIf = "HELPERS.IOSstatusBarRender()" class = "statusBarFixer"></div>

	<mat-spinner *ngIf="!checkArray( imageInfo )" [diameter] = "60"   class="preload-spinner"></mat-spinner>

	<div class="row">

		<div class="col-lg-3 col-12 col-md-4">
			<mat-card class="example-card">
				<div mat-card-image class="card-img" [style.backgroundImage]="'url(https://sweetvel.com/assets/img/icons/swappicon_compressed.jpg)'"
				 alt="SWEETVEL">
					<button class="insta-button" mat-fab>
						<a colorwht [href] = "globalEnv.Socials.instagram">
							<i class="fa fa-instagram fa-2x"></i>
						</a>
					</button>
				</div>
				<mat-card-content>
					<b>#sweetvel</b>
					<br>
					<b>{{profileInfo?.full_name}}</b>
					<p>{{profileInfo?.bio}}</p>

					<div class="d-flex justify-content-between w-100">
						<!--div>Posts
							<b>{{profileInfo?.counts?.media}}</b>
						</div-->
						<div>Followed
							<b>{{profileInfo?.counts?.followed_by}}</b>
						</div>
						<div>Follows
							<b>{{profileInfo?.counts?.follows}}</b>
						</div>
					</div>

				</mat-card-content>
				<mat-card-actions>
					<button class="iosBtn" >
						<mat-icon>near_me</mat-icon>
						<a [href] = "globalEnv.Socials.instagram">Открыть</a>
					</button>

					<!--button mat-button>Поделиться</button-->
				</mat-card-actions>
			</mat-card>
		</div>

		<div *ngFor="let img of imageInfo" class="col-lg-3 col-12  col-md-4">

			<mat-card class="example-card">
				<div mat-card-image class="card-img" [style.backgroundImage]="'url('+img.images.standard_resolution.url+')'" alt="Photo of a Shiba Inu">
					<a href="{{img.link}}">
						<button mat-fab>
							<mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
							{{img.likes.count}}
						</button>
					</a>
				</div>
				<mat-card-content>
					<span>{{img?.caption?.text}}</span>
				</mat-card-content>
				<mat-card-actions>
					<button class="iosBtn">
						<mat-icon>near_me</mat-icon>
						<a href="{{img.link}}">Открыть</a>
					</button>
					<!--button mat-button>Поделиться</button-->
				</mat-card-actions>
			</mat-card>
		</div>
	</div>