@import "../../../assets/style/variables.scss";
::ng-deep rules-dialog{

	button{
		background: white !important;
		border-radius: 2px;
		border:2px solid yellowgreen;
	}

	.header{
		display:flex;
		justify-content: center;
		align-items: center;
		width:100%;
		padding:10px;
		color:#656565 !important;

		title{
			border:2px solid red;
			font-size: 20px;
			color:#656565 !important;

		}

		mat-icon{
			font-size:25px !important;
			color:$themecolor1;
			margin-right:15px;
		}
	}



	.desc{
		font-size:14px;
		color:#656565 !important;
		text-align: justify;
		overflow:auto;
	}

}


	@media screen and ( max-width : 900px ){

		::ng-deep .dialog-rules{

			width:90% !important;
			max-width:90% !important;

		}
	}


