<app-modal [close]="true">

	<div class="header">
		<mat-icon>notifications</mat-icon>
		<span class="title"> Правила и Информация </span>
	</div>


	<p class="desc">

		Каждый пост или статья является субъективным мнением и творением самого автора но не ресурса , в связи с этим ресурс не несет
		ответстенности за материал который публикуется на нем , т.е ресурс является только платформой для размещения контента в
		виде статей и новостей. В свою очередь ресурс берет на себя право и ответственность сохранять свой стиль , характер а также
		реагировать и устранять нарушения которые могут допускать авторы ресурса.

	</p>

	<div class="header">
		<mat-icon>reply_all</mat-icon>
		<span class="title"> Обратная Связь </span>
	</div>

	<p class="desc">

		Принцим ресурса это честность , и в случае если вы имеете какие либо возражения по поводу того или иного материала , пишите
		на адрес
		<strong>chakirberg@sweetvel.com</strong>. Так как при росте количества авторов становится тяжелее отслеживать и модерировать контент
		, администрацией могут быть упущены нежелательные публикации или нарушения, по этому будем благодарны любой обратной связи
		по поводу ненадлежащего контента , реагирование будет самым быстрым.

	</p>

</app-modal>