@import "../../assets/style/variables.scss";

::ng-deep app-info{

#infocomponent{

	position: relative;
	margin-top:25px;
	margin-bottom:90px;
	min-height:$containerDesktopHeight;

	.header{
		display:flex;
		justify-content:left;
		align-items: center;
		width:100%;
		padding:10px 10px 10px 0;
		color:#656565;

		.title{
			font-size: 18px;
			color:#656565 ;
			text-transform: uppercase;
			//font-weight: bold;
		}

		mat-icon{
			font-size:22px;
			color:#555;
			margin-right:15px;
		}
	}


	.desc{
		font-size:14px;
		color:#656565 ;
		text-align: justify;
		overflow:auto;
	}

}

@media screen and(max-width:900px){
	#infocomponent{
		margin-top:10px;
	}
}

}