<div  [@routerTransition] class="container" id="infocomponent">

	<div class="header">
		<mat-icon>notifications</mat-icon>
		<span class="title"> {{ 'rulesandinfo' | translate }} </span>
	</div>


	<p class="desc">
		{{ 'rulesandinfocontent_1' | translate }}
	</p>

	<div class="header">
		<mat-icon>report_problem</mat-icon>
		<span class="title"> {{ 'rulesandinfo' | translate }} </span>
	</div>

	<p class="desc">
		{{ 'rulesandinfocontent_2' | translate }}
	</p>

	<!--div class="header">
		<mat-icon>extension</mat-icon>
		<span class="title"> {{ 'rulesandprinciples' | translate }}</span>
	</div>


	<p class="desc">
	{{ 'rulesandinfocontent' | translate }}
	</p-->


	<div class="header">
		<mat-icon>account_circle</mat-icon>
		<span class="title"> {{ 'signup' | translate }}</span>
	</div>


	<p class="desc">
		{{ 'signupinfocontent' | translate }}
	</p>



	<div class="header">
		<mat-icon>error</mat-icon>
		<span class="title"> {{ 'important' | translate }} </span>
	</div>


	<p class="desc">
		{{ 'importantinfocontent' | translate }}
	</p>

</div>