<div [@routerTransition] class="container" id = "signup-container">

	<div class="row w-100">

		<div class="col-lg-4 mx-auto col-12" >

			<div class = "signup-title">
				<h3>{{ globalEnv.Strings.title }}</h3>
				<i class="fa fa-podcast"></i>
				<h3>{{ globalEnv.Strings.type }}</h3>
			</div>

			<form [formGroup]="Form" class="signup-form">

				<input formControlName="email" type = "text" required  placeholder="{{'your' | translate}} Email">

				<input formControlName="key" type="password" required  placeholder="{{'signupkey' | translate}}">

				<div  class="alert alert-warning  text-left" role="alert">
					{{'togetthekeywriteto' | translate}} {{ globalEnv.Strings.email }}
				</div>

				<div *ngIf="statusText" class="alert alert-warning  text-left" role="alert">
					{{statusText}}
				</div>

				<div class = "terms-block">
					<mat-checkbox formControlName="acceptterms" ><span [routerLink] = "['/info']" style = "padding-left:8px">{{'acceptterms' | translate}}</span></mat-checkbox>
				</div>

				<button  (click)="signUp();" class="iosBtn">{{'signup' | translate}}</button>
				<span [routerLink] = "['/space/page/signin']" class = "exit">{{'signin' | translate}}</span>
				<span [routerLink] = "['']" class = "exit">	{{'gohome' | translate}}</span>

			</form>

		</div>

	</div>

</div>