@import "../../../assets/style/variables.scss";

::ng-deep app-confirmation{

	#signup-container.container{

		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:100%;
		display: flex;
		align-items: center;
		justify-content: center;



		.signup-title{
			font-weight:bold;
			float:left;
			margin-right:5px;
			font-family:$titlefontfam;
			width:100%;

			& * {
				float:left;
				font-size:30px;
				}

			i.fa-podcast{
				color:$themecolor1;
				margin:0 5px 0 5px;
				}

			h3{
				font-family: $titlefontfam;
				font-weight:bold;
			}

			h3:nth-of-type(1){
				color:$themecolor1;
			}

			h3:nth-of-type(2){
				color:#555;
			}
		}


		.signup-form{

			margin-top:50px;
			width:100%;

			input{

				width:100%;
				margin-bottom:10px;
				border-width:0;
				border-radius:3px ;
				background:rgba(0,0,0,0.03);
				color:#555;
				font-size:13px;
				padding:10px 8px 10px 15px;
				border:1px solid #ddd;

			}

			button{ float:left;	}

			.terms-block{

				padding-left:2px;
				margin:10px 0 10px 0;
				color:#555;
				font-size:14px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

			}

			.exit{
				float:right;
				color:$themecolor1;
				cursor:pointer;
				margin-left:7px;
				border-bottom:1px solid $themecolor1;
				text-transform:uppercase;
				font-size:14px;
			}
		}

		.alert{	width:100% !important;}


		@media screen and(max-width : 900px){


			}

	}
}