@import "../../../assets/style/variables.scss";

::ng-deep app-finishsignup{

#signupconfirmation{

	position:absolute;
	left:0;right:0;
	top:0;bottom:0;
	display: flex;
	align-items: center;
	justify-content: center;

	.title{
		font-family:$titlefontfam;
		color:$themecolor1;
		font-weight: bold;
	}

	.alert{
		margin:10% auto;
		display:inline-block;
		text-transform: uppercase;
	}

	.btns-group{
		text-align: center;
		width:100%;

		& *{display:inline;}

		button{margin:5px;}
	}
}

}