<div class="container" id="signupconfirmation">
	<div class="row">
		<div class=" col-12 mx-auto text-center">
			<h1 class="title">SWEETVEL</h1>
		</div>
		<br>
		<div class=" col-12 mx-auto text-center ">
			<div class="alert alert-warning text-center ">
				{{ statusText }}
			</div>
		</div>
		<br>
		<div class=" col-12 mx-auto">
			<div class="btns-group ">
				<button [routerLink]=" '/'+kingRoutes.main.signin" class="iosBtn">{{'enter' | translate}}</button>
				<button [routerLink]="['']" class="iosBtn">{{'gohome' | translate}}</button>
			</div>
		</div>

	</div>
</div>