<app-modal [close]="true">

		<div class="header">
			<mat-icon>account_circle</mat-icon>
			<span class="title"> Стать Автором  </span>
		</div>


		<p class = "desc">
			Здравствуй уважаемый странствующий просторами интернета , если ты хочешь стать сооавтором и обрести суперсилу распространителя
			информации , то ты по адресу , для того чтобы стать супергероем и соавтором , отправь на почтовый адрес <strong>chakirberg@sweetvel.com</strong>
			послание и напиши на какие темы ты бы хотел/а писать статьи , и тебе в ответном письме будет отправлена ссылка на страницу регистрации и секретный ключ 
			для входа во врата Информационного Супер Пространства .
		</p>

		<div class="header">
			<mat-icon>extension</mat-icon>
			<span class="title"> Принципы  </span>
		</div>


		<p class = "desc">
			На ресурсе есть свои принципы информационного пространства и они очень важны , чем больше сила тем больше ответственность.
			На ресурсе  для наших Супер Авторов  не допустимо написание статей в которых содержится политика , рассизм и оскорбления ,
			Так же не допускается копирование статей с других ресурсов . Любые нарушения будут присекаться .
			Каждый новый пост модерируется и если он соответствует этим простым правилам то сразу будет доступен в широкие круги.
			В личном кабинете автора супергероя ты сможешь писать статьи как от своего имени так и анонимно и в любой момент переключаться между
			этими режимами
		</p>

		<div class="header">
			<mat-icon>error</mat-icon>
			<span class="title"> Важно  </span>
		</div>


		<p class = "desc">
			Обращаю внимание снова на то что в личном кабинете автора вы можете полностью контроллировать творческий процесс , создавать ,
			редактировать , удалять статьи  , редактировать профиль , регулировать анонимность . Теперь важный момент  , для удаления профиля
			вы должны также отправить запрос на  <strong>chakirberg@sweetvel.com</strong> объяснение причин при этом не требуется. В том случае если 
			вы не удалили сознательно или не сознательно свой контент в виде статей который привязан к вашему профилю ,  то после удаления вашего профиля
			ресурс <strong>chakirberg</strong> имеет полное право присвоить этот контент себе и распоряжаться им самостоятельно.
		</p>

</app-modal>
