@import "../../../assets/style/variables.scss";
::ng-deep authorship-dialog{

	mat-dialog-content{

	}

	button{
		background: white !important;
		border-radius: 2px;
		border:2px solid yellowgreen;
	}

	.header{
		display:flex;
		justify-content: center;
		align-items: center;
		width:100%;
		padding:5px;
		color:#656565 !important;

		mat-icon{
			font-size:25px !important;
			color:$themecolor1;
			margin-right:15px;
		}
	}

	title{
		border:2px solid red;
		font-size: 20px;
		color:#656565 !important;

	}

	.desc{
		font-size:14px;
		color:#656565 !important;
		text-align: justify;

	}

}


	@media screen and ( max-width : 900px ){

		::ng-deep .dialog-authorship{

			width:90% !important;
			max-width:90% !important;

		}
	}


