<div class="row">

	<div class="col-lg-12 col-md-12 col-12">
		<div class="mat-block  mat-elevation-z4 key-handler mat-block-ht2">

			<div class = "head" >
				<i class=  "fa fa-shield"></i>
				<div class = "head-title">{{ 'signupkey' | translate }}</div>
			</div>
			<hr>
			<div class = "alert alert-warning">
				{{ keys?.signupkey }}
			</div>

			<input placeholder = "{{ 'password' | translate }}" type = "password" [(ngModel)] = "formdata.password">
			<output>{{ statusTxt }}</output>
			<div class = "btns-group">
				<button (click) = "updateSignUpKey()" class = "iosBtn float-left">
					{{ 'update' | translate }}
					{{ 'key' | translate }}
				</button>
				<button (click) = "copyToClipBoard()" class = "iosBtn">{{ 'copy' | translate }}</button>
			</div>

		</div>
	</div>

</div>