@import "../../../assets/style/variables.scss";

::ng-deep app-keyhandler{

$fontsize0 : 14px;

.key-handler{

	padding:15px;
	@extend %head1;

	.alert{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	input{
		border-width:0;
		color:#656565;
		font-size:$fontsize0;
		padding:5px;
		width:50%;
	}

	output{color:#ff5959;font-size: $fontsize0}

	.btns-group{
		button{margin-right:10px;}
	}

}


}