<div id="comments-wrapper" >

	<div *ngIf="!AuthService.userID() || AuthService.tokenExpired()" class="alert alert-warning w-100">
			{{'authorizationalertcomments' | translate}}
	</div>

	<div *ngIf="AuthService.userID() && !AuthService.tokenExpired() && writer"  class="writer">

		<form (ngSubmit)="addComment()" class="w-100" [formGroup]="commentForm">

			<div class = "writer-avatar" [style.backgroundImage]="'url('+AuthService.tokenData().pokerface +' ),url(../../../assets/img/img5.jpg)' | safestyle "></div>

			<textarea #txtarea (keydown)="textareaAutoResize()" required placeholder="{{ 'comment' | translate }}" formControlName="commentinput"></textarea>

			<div style = "width:40px"><mat-spinner *ngIf = "!commentSended" [diameter]="25"></mat-spinner></div>

			<button class="fa fa-paper-plane"></button>

		</form>

	</div>

	<br>
	<div class = "alert alert-warning" *ngIf = "comments.length <= 0">
		{{ 'nocomments' | translate }}
	</div>

	<div class="comments-block-wrapper" #commentsblock >

		<div [@routerTransition] class="comment-block" *ngFor="let comment of comments;let ind = index">

			<div class="head w-100" >
				<img [routerLink]="['/'+ comment?.owner?.login ]" class="avatar" src="{{  comment?.owner?.pokerfaceformatted }}" alt="image">

				<div class="uppertxt  login" >
					<div class="w-100">
						<b>@{{ comment?.owner?.login }}</b>
					</div>
					<br>
					<div class="time w-100">{{ comment?.created_at | converttime }}</div>
				</div>

				<div  class = "options">
				<mat-icon *ngIf="AuthService.userID() == comment?.owner._id || AuthService.userID() === boxidowner || AuthService.userRole() === 'superuser' " [matMenuTriggerFor]="menu" class="float-right">more_vert</mat-icon>
				<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
					<button mat-menu-item (click)="removeComment(comment._id , ind)">{{ 'delete' | translate }}</button>
				</mat-menu>
				</div>

			</div>

			<div class="comment-comment">{{ comment?.comment }}</div>

		</div>
	</div>


	<div class="comments-more text-center">
		<i *ngIf="dataLoaded && Skip <= comments.length" (click)="fetchComments()" class="fa fa-chevron-down fa-2x "></i>
		<mat-spinner *ngIf="!dataLoaded" diameter="40" class="mx-auto"></mat-spinner>
	</div>

</div>