@import "../../../assets/style/variables.scss";

::ng-deep ch-comments{

#comments-wrapper{

	margin:20px 0 100px 0;


	.writer{
		width:100%;
		display:flex;
		border:1px solid #eee;
		border-radius:5px;
		padding:10px;
		//margin:0px -1% 0px -1% !important;


		form{
			display:flex;
			justify-content: space-between;
			align-items: center;

			.writer-avatar{
				$rad : 50px;
				max-height:$rad;
				max-width:$rad;
				min-height:$rad;
				min-width:$rad;
				border-radius:$rad;
				border:2px solid $themecolor1;
				background-size:cover;
				background-position: center center;
			}

			textarea{

				padding:10px;
				display:block;
				margin-left:20px;
				height:45px;
				color:#ccc;
				width:100%;
				border:0px solid #ddd;
				border-radius:3px;
				resize:none;

				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #ccc;
					opacity: 1; /* Firefox */
				}

				&::-webkit-scrollbar,
				&::-webkit-scrollbar {
 					width: 0px;
				}

			}

		button{
			width:60px;
			color:#ccc;
			margin:10px 0 10px 0;
			border:0px solid red;
			background:none;
			font-size:20px;
			cursor:pointer;
			}

		}



	}

	.comment-block{
		position: relative;
		margin:35px 0 35px 0;

		.head *{
			display:inline-block;
		}

		.head{

			mat-icon{
				color:#333;
				display:block;
			}
		}

		.login{
			display:block;
			max-width:250px;
			height:auto;
			float:left !important;
		}

		.options{
			position: absolute;
			right:0px;
		}


		.avatar{
			$volume : 50px;
			height: $volume;
			width:$volume;
			border-radius: $volume;
			object-fit: cover;
			border:2px solid $themecolor1;
			margin-right:15px;
			float:left;
			cursor:pointer;
			transition:0.5s;

			&:hover{border-color: gold;}
		}

		.time{
			width:100%;
			color:#aaa;
			font-size:13px;
		}

		.comment-comment{
			clear:both;
			width:100%;
			padding-top:15px;
			word-wrap: break-word;
			text-align:left;
		}


	}

	.comments-more{
		width:100%;
		text-align: center;
		margin-top:50px;

		i{ cursor:pointer; }
	}

}

.comments-block-wrapper{
	padding:10px;
}

@media screen and(max-width:900px){
	#comments-wrapper{

		.writer{

			border-radius:0px;
			margin:auto !important;
		}

	}

}


}