@import "../../../assets/style/variables.scss";

.adwunit.unit-1{
	height:100px;
	border:1px solid #ddd;
	background-color: #eee;
	margin:0px 0 0px 0;
	border-radius: 0px;
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
	position:relative;
}

.unit-text{
	position: absolute;
	font-weight: bold;
	font-size:30px;
	color:white;
	border:1px dashed #ccc;
	padding:10px 30px 10px 30px;
	border-radius: 3px;
	z-index:10;
}

.unit-slider{
	height:100%;
	width:100%;
	display:inline;
	overflow:hidden;

	.unit-slider-wrapper{
		height:auto;
		transition:0.5s;
		filter:brightness(55%);
	}

	img{
		height:150px;
		width:100%;
		object-fit: cover;
		opacity:1;
		transition:opacity 0.5s linear;
		float:left;
		display:block;
	}

	img.hidden{
 		opacity:0;
	}
}


@media screen and(max-width:900px){

	.adwunit.unit-1{
		border-width:0;
		height:130px;
	}

	.unit-text{
		font-size:20px;
	}
}


