<div class = "adwunit unit-1">

	<div class = "unit-text txtshadow2 ">ADVERTISEMENT</div>

	<div class = "unit-slider">
		<div class = "unit-slider-wrapper" #imgslide>
			<img *ngFor = "let slidesrc of slides"  [src] = "slidesrc">
		</div>
	</div>
</div>