<div aria-label="..." class="paginator mx-auto">

	<ul class="pagination pagination-md">
		<li class="page-item ">
			<a *ngIf=" currentPage > 0 " class="page-link" (click)="setPage( (currentPageFormatted-2) * defaultLimit , currentPageFormatted - 1 );">{{ 'back' | translate }}</a>
		</li>
		<li *ngFor="let page of  pageStep;let ind = index" class="page-item">
			<a (click)="setPage(page * defaultLimit,page + 1);" class="page-link">{{page + 1}}</a>
		</li>
		<li class="page-item">
			<a *ngIf="currentPageFormatted < pageStep.length" (click)="setPage( currentPageFormatted * defaultLimit , currentPageFormatted + 1 );"
			 class="page-link">{{ 'next' | translate }}</a>
		</li>
	</ul>

	<span *ngIf="pageStep.length > 0" class="currentPage   text-center">{{ currentPageFormatted }}</span>
</div>