::ng-deep ch-paginator{

	// // PAGINATOR // //

	.paginator{
		display:flex;
		align-items: center;
		justify-content: space-between;
		min-width:99%;
		margin:5px auto auto auto ;
	}

	.page-item{

		cursor:pointer;
		color:yellowgreen;
		font-size:15px;

	}

	.currentPage{

		color:white;
		display:block;
		padding:2px;
		width:25px;
		height:25px;
		border-radius:0px;
		margin-bottom:10px;
		background:yellowgreen;

	}

	///////////////////////////////////

}