<div class="row">
	<div class="col-lg-12 col-md-12 col-12">
		<div class="mat-block   lists-handler mat-block-ht mat-elevation-z4" >

			<nav mat-tab-nav-bar class="nav-bar-nested">
				<!--mat-icon class="toggler" (click)="searchBar = !searchBar">{{searchBar ? 'morevert' : 'search'}}</mat-icon-->
				<div *ngIf="!searchBar " class="TABS">
					<a mat-tab-link *ngFor="let link of routeLinks ;let i = index" [routerLink]="link.link" #rla="routerLinkActive" 
					 routerLinkActive="mat-tab-link-active" (click)="activeLinkIndex = i">
						<mat-icon class="tabs-icon">pages</mat-icon> {{link.label}}
					</a>
					<a *ngIf="userRole === 'superuser' " [routerLink] = "['/space/page/welcome/postsuperuser']" mat-tab-link>
						<mat-icon class="tabs-icon">pages</mat-icon>{{ 'all' | translate}}
					</a>
					<a mat-tab-link>
						<mat-icon class="tabs-icon">pages</mat-icon>{{currentPage}}
					</a>
					<a mat-tab-link>{{ 'currentlangshort' | translate }}</a>
				</div>

				<!--mat-chip-list><mat-chip  color="primary" selected="true">{{currentPage}}</mat-chip></mat-chip-list-->

				<div *ngIf="searchBar" class="search-input">
					<mat-icon>search</mat-icon>
					<input placeholder="Search" type="text" />
				</div>

			</nav>
			<router-outlet></router-outlet>

		</div>

	</div>
</div>