@import "../../../assets/style/variables.scss";
app-postlist{

	.post-option-chips{
		padding:10px 10px 10px 0;
		mat-chip{
			cursor:pointer !important;
		}

	}

	.lists-handler{

		border:0px solid $barsbordercolorlite ;
		.mat-tab-body{
			background-color:$backcolor1;
		}

	}


	.search-input{
		margin-top:10px;
		display:flex;
		float:left;
		align-items: flex-end;
		width:300px;
		height:100%;
		border-bottom:2px solid $themecolor;

		mat-icon{
			color:$themecolor;
		}
		input{
			width:100%;
			border:0px;
			color:#656565;
		}
	}

	.nav-bar-nested{
		display:flex;
		align-items: center;
		min-height:50px;

		.tabs-icon{
			margin-right:10px;
		}

		.toggler{
			height:50px;
			width:50px;
			padding:10px;
			float:left;
		}
		.TABS{
			float:left;
			display: flex;
		}

		mat-chip{
			font-weight: bold !important;
			margin-top:8px;
		}
	}

	@media screen and (max-width: 900px){

		.lists-handler{
			border-width:0px;
		}

		.matCardWrapper{
			padding:0px !important;
		}

		mat-card{
			padding:0px !important;
			border-width:0px !important;
		}

		.card-img{
			height:250px !important;
			width:101% !important;
			margin-left:-0.5% !important;
			margin-right:-0.5% !important;
		}

	}

}