<div [@routerTransition]  class="container-fluid" id="container-saved">
	<div class="row">
		<div class="col-12">

			<div *ngIf=" dataLoaded && postsData.length < 1" class="alert alert-warning mx-auto text-center" role="alert">
				<strong>{{ 'attention' | translate }}! </strong>
				<output>{{ 'noposts' | translate }}</output>
			</div>

			<div #savedpostsblock class = "saved-posts-block">
				<typo-magazine  [desc]="false" [data]="postsData"></typo-magazine>
			</div>

			<div class="comments-more text-center">
				<i *ngIf="dataLoaded && skip <= postsData.length" (click)="fetchPostsSaved()" class="fa fa-chevron-down fa-2x "></i>
				<mat-spinner *ngIf="!dataLoaded" diameter="40" class="mx-auto"></mat-spinner>
			</div>

		</div>
	</div>