@import "../../assets/style/variables.scss";

::ng-deep app-saved #container-saved{

	min-height:$containerDesktopHeight ;
	padding:0;
	position: relative;
	top:5px;
	padding-bottom:calc(#{$toolbarDesktopHt} + 15px);


}

