<div [hidden] = "HELPERS.isMobile()" class="ch-footer-handler" #footerDOM>
	<div class="row footer-wrapper text-lg-left text-left">
		<div class="col-12 col-lg-3 ">
			<span>
				<b class="txtshadow">SWEETVEL 2018 &#169;</b>
			</span>
		</div>

		<div class="col-12 col-lg-3 footer-clickable" [routerLink] = "['/'+mainRoutes.nested.info]">
			<i class = "fa fa-globe"></i>
			<span class="txt-field">{{ 'rulesandinfo'  | translate }}</span>
		</div>

		<div class="col-12 col-lg-3 footer-clickable" [routerLink] = "['/'+mainRoutes.nested.info]">
			<i class = "fa fa-podcast"></i>
			<span class="txt-field" >{{ 'mediainfo'  | translate }}</span>
		</div>

		<div class="col-12 col-lg-3 footer-clickable">
			<i class = "fa fa-envelope"></i>
			<span class="txt-field">{{ globalEnv.Strings.email }}</span>
		</div>


		<div class="col-lg-3  col-12 descr">
			<p class="txt-field">{{ 'subinfo'  | translate }}</p>
		</div>

		<div class="col-12 col-lg-3 footer-sign" >
			<div class = "w-100">
				<i class = "fa fa-sign-in"></i>
				<span [routerLink] = "[ '/' + kingRoutes.main.signin]" class="txt-field">{{ 'signin'  | translate }}</span>
			</div>
			<div class = "w-100">
				<i class = "fa fa-bookmark"></i>
				<span [routerLink] = "[ '/' + kingRoutes.main.signup]"  class="txt-field">{{ 'signup'  | translate }}</span>
			</div>
		</div>

		<div class="col-12 col-lg-3">
			<a [href] = "globalEnv.Socials.instagram" [target] = "globalEnv.Socials.instagram">
				<i class = "fa fa-instagram"></i>
			</a>
			<a [href] = "globalEnv.Socials.facebook" [target] = "globalEnv.Socials.facebook">
				<i class = "fa fa-facebook-official"></i>
			</a>
			<a [href] = "globalEnv.Socials.youtube" [target] = "globalEnv.Socials.youtube">
				<i class = "fa fa-youtube"></i>
			</a>
			<!--a href="//t.me/chakirberg">
				<img height="37px" src="../../assets/img/tg.png">
			</a-->
		</div>

	</div>
</div>