@import "../../../assets/style/variables.scss";

	.ch-footer-handler{

		background: $homebackcolorfooter ;
		border-top:0.7px solid #ddd;
		width:100% !important;
		color:white;
		position: relative;
		z-index:2000 !important;


		.footer-wrapper{

			a{ cursor:pointer; }
			min-height:180px !important;
			display:flex;
			align-items: center;
			width:98%;
			margin:auto;
			padding:10px 0px 20px 0px;


			img{
				margin:5px;
			}

			.txt-field{
				font-size:12px;
				text-transform: uppercase;
			}

			.descr{
				margin-top:15px;
				margin-bottom:15px;
			}

			.footer-clickable{
				margin:10px 0 10px 0;
				display:flex;
				align-items: center;
			}

			.footer-clickable:hover{
				color:gold;
				cursor:pointer;
			}

			.footer-sign{

				div{
					display:flex;
					align-items: center;

					&:hover{
						color:gold;
						cursor:pointer;
					}
				}

				i{
					font-size:20px;
				}

			}

			i{
				color:$themecolor1;
				font-size:25px;
				margin-right:10px;
			}


		}

	}

	@media screen and(max-width:900px){

		.footer-wrapper{
			padding-bottom:45px !important;

			div{
				margin:5px;
			}

		}

	}



