<div class = "statusBarFixer"></div>

<div [@routerTransition]  class="container" id = "signup-user-container" >

	<div class="row w-100">

		<div class="col-lg-4 mx-auto col-12" >

			<div class = "signup-title">
				<h3 class = "float-left">{{ globalEnv.Strings.title }}</h3>
				<i class="fa fa-podcast"></i>
				<h3 class = "">{{ globalEnv.Strings.type }}</h3>
			</div>


			<form [formGroup]="Form" class="signup-form">

				<input formControlName="login" type = "text" required  placeholder="{{'your' | translate}} {{'login' | translate}}">

				<input formControlName="email" type = "text" required  placeholder="{{'your' | translate}} Email">

				<input formControlName="password" type="password" required  placeholder="{{'password' | translate}}">

				<input formControlName="repeatpassword" type="password" required  placeholder="{{'repeat' | translate}} {{'password' | translate}}">

				<div *ngIf="statusText" class="alert alert-warning  text-left" role="alert">{{statusText}}</div>

				<div class = "terms-block">
					<mat-checkbox formControlName="acceptterms" > <span [routerLink] = "['/info']"  style = "padding-left:8px">{{'acceptterms' | translate}}</span></mat-checkbox>
				</div>

				<button  (click)="signUpUser();" class="iosBtn">{{'signup' | translate}}</button>

			</form>


			<div class = "navigation-group" >
				<span [routerLink] = "['/space/page/signup']" class = "exit">{{'admin' | translate}}</span>
				<span [routerLink] = "['/space/page/signin']" class = "exit">{{'signin' | translate}}</span>
				<span [routerLink] = "['']" class = "exit">	{{'gohome' | translate}}</span>
			</div>


		</div>
	</div>
</div>