@import "../../../assets/style/variables.scss";

::ng-deep app-signupuser{

	#signup-user-container.container{

		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:100%;
		height:100vh;
		display: flex;
		align-items: center;
		justify-content: center;


		.signup-title{

			display:flex;
			font-weight:bold;
			float:left;
			margin-right:5px;
			font-family:$titlefontfam;
			width:100%;

			& * { font-size:30px; }

			i.fa-podcast{
				color:$themecolor1;
				margin:0 8px 0 5px;
				font-size:35px;
				float:left;
				}

			h3{
				font-family: $titlefontfam;
				font-weight:bold;
				float:left;
			}

			h3:nth-of-type(1){
				color:$themecolor1;
				font-size:33px;
			}

			h3:nth-of-type(2){
				color:#555;
				clear:both;
			}

		}


		.signup-form{

			margin-top:80px;
			width:100%;

			input{
				width:100%;
				margin-bottom:10px;
				border-radius:3px ;
				background:rgba(0,0,0,0.03);
				color:#555;
				font-size:13px;
				padding:10px 8px 10px 15px;
				border:1px solid #ddd;
			}

			button{ float:left;	}

			.terms-block{

				padding-left:2px;
				margin:10px 0 10px 0;
				color:#555;
				font-size:14px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

			}


		}

		.navigation-group{

			width:100%;
			display: inline-block;
			text-align: left;
			margin-top:30px;

			.exit{

				display: inline;
				color:$themecolor1;
				cursor:pointer;
				margin-right:7px;
				text-transform:uppercase;
				font-size:14px;
				border-bottom:1px solid $themecolor1;

			}

		}

		.alert{	width:100% !important;}


		@media screen and(max-width : 900px){


			}

	}

}