<div class="container-fluid">
	<div class="row">
		<div class="col-lg-10 col-12 mx-auto text-center">
			<i class = "fa fa-4x fa-wifi"></i>
			<br>
			<h4> {{ 'noconnection' | translate }} </h4><br>
			<button mat-raised-button (click) = "reload()" >{{ 'reload' | translate }}</button>
		</div>
	</div>
</div>