@import "../../assets/style/variables.scss";

::ng-deep app-noconnection{

	.container-fluid{
		height:300px ;
		width:100%;
		display:flex;
		align-items: center;
		justify-content: center;
		color:$themecolor1;

		button{
			background: $themecolor1;
			color:white;
		}

	}


	@media screen  and(max-width: 900px){

		.container-fluid{
			position:fixed;
			height:80vh;
		}

	}

}