::ng-deep app-media{

.mediaHeader{

	text-align:right;
	padding:10px 10px 5px 10px;
	border:0px solid yellow;
	width:100%;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:3002;

		.fa{
			font-size:30px;
			color:#aaa;
			cursor:pointer;
			margin-top:10px;
			margin-top:constant(safe-area-inset-top);
			margin-top:env(safe-area-inset-top);
		}

	}

#mediaWrapper{

	position: fixed;
	display: -webkit-flex;
	display:flex;
	align-items: center;
	justify-content: center;
	top:0;bottom:0;left:0;right:0;
	background: rgba(255,255,255,0.95);
	height:100vh;
	width:100%;
	/* OVERLAP MODALS WHICH HAVE Zindex 3000*/
	z-index: 3001;

	img{
		display: block;
		height:auto;
		max-height:100%;
		width:auto;
		margin:auto;

	}

}

@media screen and(max-width:900px){

	img{
		 width:100% !important;
		 margin:0 !important;
	 }

}

}
