
<div [@gallery] *ngIf="GalleryVisibility"  id="mediaWrapper">

	<div class="mediaHeader">
		<i (click)="closeMedia()" class="fa fa-times-rectangle"></i>
	</div>

	<div style="position: fixed;left:0; height: 100%;width:100%; display: flex;
	display: -webkit-flex;  align-items: center;" pinch-zoom>
		<img src="{{imgActive}}" >
	</div>

</div>

