<div class="biomain">

	<div  [style.backgroundImage]=" ' url('+postsData?.owner?.pokerfaceformatted+'),url(../../../assets/img/img5.jpg) ' | safestyle  "
	 class="bio-avatar mat-elevation-z4">

		<div class="bio-content">

			<div class="content-child-wrapper">
				<div class="bio-title txtshadow">
					{{ postsData?.owner?.login }} {{ postsData?.owner?.tps?.name }}
				</div>
				<div class="bio-desc">
					{{ postsData?.owner?.about | cuttext : 220 }}
				</div>
				<div class="bio-date">
					Дата основания {{ postsData?.owner?.created_at | converttime }}
				</div>


				<div *ngIf="postsData?.owner?.facebook ||
						   postsData?.owner?.instagram ||
						   postsData?.owner?.vkontakte ||
						   postsData?.owner?.twitter ||
						   postsData?.owner?.linkedin"
						  class="bio-title txtshadow">
					      Socials
				</div>

				<div class="bio-social">

					<a *ngIf="postsData?.owner?.facebook"  [style.color] = "postsData?.owner?.style?.secondarycolor" [href]="postsData?.owner?.facebook">
						<i class="fa fa-facebook"></i>
					</a>
					<a *ngIf="postsData?.owner?.instagram" [style.color] = "postsData?.owner?.style?.secondarycolor" [href]="postsData?.owner?.instagram">
						<i class="fa fa-instagram"></i>
					</a>
					<a *ngIf="postsData?.owner?.vkontakte" [style.color] = "postsData?.owner?.style?.secondarycolor" [href]="postsData?.owner?.vkontakte">
						<i class="fa fa-vk"></i>
					</a>
					<a *ngIf="postsData?.owner?.twitter" [style.color] = "postsData?.owner?.style?.secondarycolor" [href]="postsData?.owner?.twitter">
						<i class="fa fa-twitter"></i>
					</a>
					<a *ngIf="postsData?.owner?.linkedin" [style.color] = "postsData?.owner?.style?.secondarycolor" [href]="postsData?.owner?.linkedin">
						<i class="fa fa-linkedin"></i>
					</a>
				</div>

			</div>

		</div>

	</div>

</div>