@import "../../../assets/style/variables.scss";

::ng-deep ch-bio{

		// // BIO MAIN // //

	.biomain{
		position: relative;
		width:100%;
		display:flex;
		min-height:330px;
		height:auto;
		border:1px solid #eee;
		border-radius: 3px;
		overflow:hidden;
		margin-bottom:5px;

		.bio-avatar{

			width:100%;
			min-height:500px;
			background-size:cover;
			background-position: center;
			background-color:#ccc;
			background-attachment: fixed;

		}

		.bio-content{
			background: rgba(0,0,0,0.45);
			height:100%;
			width:100%;
			text-align: center;
			display:flex;
			justify-content: center;
			align-items: center;

			.bio-title{
				text-transform: uppercase;
				font-size:50px;
				font-family: $titlefontfam;
				font-weight: bold;
			}

			.bio-desc{
				 font-size:15px;
				 text-align:center;
			 }

			.bio-date{
				font-size:15px;
			}

			.bio-social{
				display:flex;
				justify-content: space-around;

				a{
					color:yellowgreen;
					font-size:35px;
					text-shadow: $barsbordercolor;
				}
			}

		}

		.bio-title , .bio-date , .bio-desc , .bio-social{
			color:white;
			margin:auto;
			padding:5px;
			max-width:700px;

		}

	}

	///////////////////////

	@media screen and(max-width:900px)  {
		// // BIO MAIN MOBILE // //
		.biomain{
			border-radius: 0px;
			width:101%;
			margin:0 -0.5% 10px -0.5%;
			min-height: calc(100vh - 44px);
			.bio-avatar{
				background-attachment:unset !important;
			}

			.bio-content{
				padding:0 25px 0 25px !important;
			}

			.bio-title{
				font-size:40px !important;
			}
		}
	}


}