<div  class="ch-typofooter-handler" #footerDOM>
	<div class="row footer-wrapper text-lg-left text-left">
		<div class="col-12 col-lg-3 ">
			<span><b class = "txtshadow">TYPOFOTER 2018 &#169;</b></span>
		</div>

		<div class="col-12 col-lg-3 footer-clickable" >
			<img height = "35px" src="../../assets/img/loud.png">
			<span class = "txt-field">Правила и информация</span>
		</div>

		<div class="col-12 col-lg-3 footer-clickable" >
			<img  height = "35px" src="../../assets/img/alien.png">
			<span class = "txt-field">Соавторство</span>
		</div>

		<div class="col-12 col-lg-3">
			<img  height = "35px" src="../../assets/img/mail.png">
			<span class = "txt-field">hello@sweetvel.com</span>
		</div>


		<div class = "col-lg-3  col-12 descr" >
			<p class = "txt-field">MAIN TITLE</p>
		</div>

		<div class="col-12 col-lg-3">
		<a href = "https://instagram.com/chakirberg"><img height = "35px" src="../../assets/img/insta.png"></a>
		<a href = "https://facebook.com/chakirberg"><img height = "35px" src="../../assets/img/fb.png"></a>
		<a href = "//t.me/chakirberg"><img height = "37px" src="../../assets/img/tg.png"></a>
		</div>

	</div>
</div>