@import "../../../assets/style/variables.scss";

	.ch-typofooter-handler{

		background: $homebackcolorfooter ;
		border-top:0.7px solid #ddd;
		width:100% !important;
		z-index:999 !important;
		color:white;

		.footer-wrapper{

			a{ cursor:pointer; }
			min-height:60px !important;
			display:flex;
			align-items: center;
			width:$contentWidth;
			margin:auto;
			padding:5px 0px 0px 0px;

			img{
				margin:5px;
			}

			.txt-field{
				font-size:14px;
			}

			.descr{
				margin-top:15px;
				margin-bottom:15px;
			}

			.footer-clickable:hover{
				color:gold;
				cursor:pointer;
			}


		}

	}

	@media screen and(max-width:900px){

		.footer-wrapper{
			padding-bottom:45px !important;

			div{
				margin:5px;
			}

		}

	}



