<div *ngIf="!postsData || !postsDataLoaded" class="ch-preloader">
	<mat-spinner [diameter]="60"></mat-spinner>
</div>

<div class="container-fluid">

	<!-- ADVERTISEMENT BLOCK ONLY FOR MOBILE -->
	<div *ngIf = "!HELPERS.isMobile()" id = "adw-top" >
		<adwunit ></adwunit>
	</div>


	<nav class="nav-categories">
		<i class="fa fa-chevron-left" (click)="scrollHorizontal('left')"></i>
		<div class="categories-list" #categoriescontainer>
			<span *ngIf="categories" (click)="fetchCategory('ALL')">{{ 'all' | translate }}</span>
			<span (click)="fetchCategory(category.number)" *ngFor="let category of categories">{{ category.name | translate }} </span>
		</div>
		<i class="fa fa-chevron-right" (click)="scrollHorizontal('right')"></i>
	</nav>


	<!-- ADVERTISEMENT BLOCK ONLY FOR DESKTOP -->
	<div *ngIf = "HELPERS.isMobile()" id = "adw-top" >
		<adwunit ></adwunit>
	</div>

	<!--div *ngIf="!checkData(postsData) && postsDataLoaded" class="noposts alert alert-warning mx-auto text-center" role="alert">
		<strong>{{ 'attention' | translate }}! </strong>
		<output>{{ 'noposts' | translate }}</output>
	</div-->


	<typo-magazine [desc]="true" [data]="postsData"></typo-magazine>
	<ch-paginator *ngIf="pageStep" [defaultlimit]="defaultLimit" [pagestep]="pageStep"></ch-paginator>
	<adwunit *ngIf = "postsDataLoaded"></adwunit>
	<div style = "height:7px"></div>
	<ch-desks *ngIf="postsDataLoaded"></ch-desks>

</div>
<br>
