@import "../../assets/style/variables.scss";


app-posts{

	.category-fetch-block-mobile{

		width:100%;
		padding:3px 0px px 0px;
		background: white;
		text-align: center;
		border-bottom:0.5px solid $barsbordercolor;

		mat-form-field {
			width:95%;
			text-align: center;
			mat-select{
				width:95%;
				position:relative;
				top:0px;


			}
		}

	}


	.container-fluid{
		padding:0;
		min-height:$containerDesktopHeight ;
		width:100%;

	}


	.noposts{
		width:100%;
		margin-top:10px;
		text-transform: uppercase;
	}

	#adw-top{
		padding-top:0px;
		border-top:0px solid #eee;
	}


	.nav-categories{

			margin:0px auto 0px auto;
			height:45px;
			border-top:0px solid #eee;
			border-radius:2px;
			width:100%;
			display: flex;
			//justify-content: space-around;
			align-items: center;
			color:#656565;
			-webkit-overflow-scrolling: touch;
			//box-shadow: $matelevationlite;

			i{
				margin:10px;
				font-size:20px;
				cursor:pointer;
				color:$themecolor1;
			}

			.categories-list{
				width:120%;
				position:relative;
				display:flex;
				overflow:scroll;
				font-size:14px;
				max-height:30px;
				white-space: nowrap;


				span{
					transition:0.3s;
					margin-right:10px;
					text-transform: uppercase;

					&:before{ content:"#"; }

					&:hover{
						color:yellowgreen;
						cursor:pointer;
					}
				}


				&::-webkit-scrollbar {
    				width: 0px ;
					height:0px; /* remove scrollbar space */
    				background: transparent ;  /* optional: just make scrollbar invisible */
				}
			}
		}


	@media only screen and (max-width: 900px){

		.container-fluid{
			padding:0px !important;
			min-height:$containermobileHeight !important;
		}

		#adw-top{
			border-width:0;
			margin:0px 0 5px 0;
		}

		.mobile-preloader{
			padding:5px;
		}

		.nav-categories{
			width:100%;
			margin:-2px auto 2px auto;
			height:40px;
			border-width:0;
			box-shadow:0 0 0 0;

			.categories-list span{
				margin-right:7px;
			}

		}

	}


}