@import "../../../assets/style/variables.scss";
@import "../../../assets/style/quill.snow.css";


app-editpost{


	.head{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom:5px;

		.time{
			font-size:13px ;
		}

		mat-icon , .fa{
			margin-right:10px;
			font-size:25px;
			color:$themecolor1;
			}
		}

	.edit-handler{

		padding:30px;
		font-size:14px;
		display:inline-block;
		width:100%;

		.post-options-icon{

			font-size:30px !important;
			position: relative;
			left:10px;
			bottom:5px;

		}


		.themeColor{
			height:40px;
			width:40px;
			border-radius:3px ;
			float:right;
			margin:5px;
			background: $themecolor;
		}

		output.error{
			width:100%;
			margin:7px;
			color:$errorColor;
		}

		output.success{
			width:100%;
			margin:7px;
			color:$successColor;
		}

	}

	.uploader-handler{

			@extend %head1;
			padding:15px 15px 60px 15px;

			h4,h5{

				mat-icon{
					font-size:25px;
					margin-right:5px;
					color:$themecolor;
				}
			}

		.image-upload-block{

			display: flex;
			align-items: center;
			justify-content: flex-start;
			border:1px  dashed #ccc;
			width:100%;
			overflow-x:scroll;
			-webkit-overflow-scrolling: touch;
			height:200px;
			background-size:contain;
			background-repeat: no-repeat;
			background-position: center ;


		}

		.current-images-wrapper{
			width:100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top:10px;

			h5{
				display: flex;
				align-items: center;
			}

			.alert{
				margin-top:10px;
			}
		}

		.upload-buttons-group{

			margin:0px 0 15px 0;
			//background-color:rgba(0,0,0,0.3);
			border-radius: 3px;
			border:1px solid #eee;
			height:60px;
			width:100%;
			padding-right:10px;

			.wrapper{
				display:inline-block;
				height:80%;
				width:100%;
				position:relative;
				top:10%;
				bottom:10%;
			}

			label{
				width:40px;
				height:100%;
			}
			button{
				float:right;
				height:100%;
			}

			mat-spinner{
				margin:5px 20px 0 20px;
			}

			mat-icon{
				font-size: 45px !important;
				color:white;
				text-shadow:0px 0px 1px  black;
			}
		}

		.uploaded-images-wrapper{
			width:100%;
			text-align: center;
			display:flex;
			flex-wrap:wrap;
			overflow:auto;
			-webkit-overflow-scrolling: touch;

		}

		.current-images{
			@include backimg(100%,100%);
			float:left;
			min-height:150px;
			min-width:150px;
			max-height:160px;
			max-width:160px;
			margin:1%;
			border:1px solid #ddd;

			.mainImage{
				border:0px solid #656565;
				border-radius:2px;
				margin:15px;
				padding:3px;
				color:white;
				text-align: center;
				background-color:rgba(0,0,0,0.5);
			}

			mat-icon{
				float:right;
				font-size: 33px !important;
				color:white;
				text-shadow:0px 0px 1px  black;
				margin:3px;
			}

		}
	}

	.comments-handler{
		padding:20px;
	}


	@media screen and(max-width : 900px){

		.edit-handler{
			padding:20px 20px 20px 20px;
		}

		.upload-buttons-group{

			.wrapper{
				min-width:100% !important;
			}
		}

		.uploaded-images-wrapper{
			flex-wrap: nowrap !important;
		}

	}


	.uploaded-images-wrapper::-webkit-scrollbar,
	textarea::-webkit-scrollbar,
	.image-upload-block::-webkit-scrollbar
	{
 		height: 7px;
	}

	.uploaded-images-wrapper::-webkit-scrollbar-thumb,
	 textarea::-webkit-scrollbar-thumb,
	 .image-upload-block::-webkit-scrollbar-thumb
	 {
		background-color: $themecolor1 !important;
	}

}



