<div class="row">

	<div class='col-12'>
		<div class="mat-block mat-elevation-z4 edit-handler">
			<div *ngIf="checkObject(formData)" class="w-100 head">

				<mat-icon *ngIf="profileInfo?.role !== 'superuser' " class="post-status" [ngClass]="{ '1' : 'status-active' , '0' : 'status-unactive'}[formData?.active]">camera</mat-icon>
				<mat-icon *ngIf="profileInfo?.role === 'superuser' " class="post-status" [ngClass]="{ '1' : 'status-active' , '0' : 'status-unactive'}[formData?.active]">camera</mat-icon>


				<div> {{ 'edit' | translate }} </div>
				<div class="hor-flexer"></div>
				<div class=" text-lg-right  time">{{ 'updated' | translate }} : {{formData.updated_at | converttime }}</div>

			</div>


			<form *ngIf="checkObject(formData)" [formGroup]="postForm" (ngSubmit)="updatePost()">

				<smarteditor *ngIf="this.formData.desc !== undefined" [imgdata]="formData?.image" [defaultdata]="this.formData.desc" formControlName="desc"></smarteditor>

				<app-emoji (emojiEvent)="handleEmoji($event)"></app-emoji>

				<mat-form-field class="example-full-width w-100" color="accent">
					<input matInput placeholder="{{ 'name' | translate }}" formControlName="title">
				</mat-form-field>


				<!--mat-form-field class="example-full-width w-100">

					<textarea required formControlName="desc" matInput placeholder="Описание" matInput #message maxlength="10000" matTextareaAutosize
					 matAutosizeMinRows="2" matAutosizeMaxRows="25">

					 </textarea>

					<mat-hint align="start">
						<strong>Максимальная длина описания 10000 символов </strong>
					</mat-hint>
					<mat-hint align="end">{{message.value.length}} / 10000</mat-hint>
				</mat-form-field-->

				<mat-form-field class="w-100" color="accent">
					<mat-select placeholder="{{ 'category' | translate }}" formControlName="category" class = "uppertxt">
						<mat-option *ngFor="let dataCategory of categoryData" [value]="dataCategory.number" class ="uppertxt">
							{{ dataCategory.name | translate }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-slide-toggle formControlName="anonym" [checked]="{ true : checked }[formData.anonym]" color="accent" class="w-100">
					{{ 'closedpost' | translate }}
				</mat-slide-toggle>

				<br>
				<br>

				<div *ngIf="postForm?.controls?.anonym.value" class="alert alert-warning w-100 text-left uppertxt" role="alert">
					{{ 'closedpostinfo' | translate }}
				</div>

				<mat-slide-toggle formControlName="comments" [checked]="{ true : checked }[formData.comments]" color="accent" class="w-100">
					{{ 'comments' | translate }}
				</mat-slide-toggle>

				<br>
				<br>

				<div *ngIf="postForm?.controls?.comments.value" class="alert alert-warning w-100 text-left uppertxt" role="alert">
					{{ 'commentsinfo' | translate }}
				</div>



				<!--mat-form-field class='w-75'>
					<mat-select placeholder="Стиль" formControlName="theme" (change)="colorPreview($event.value)">
						<mat-option *ngFor="let dataTheme of themeData" [value]="dataTheme.number">
							{{ dataTheme.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="themeColor mat-elevation-z4" #colorPreviewDOM></div-->

				<!--div class="w-100">
					<mat-radio-group formControlName="type">
						<mat-radio-button value="POSTS"> Посты </mat-radio-button>
						<mat-radio-button value="NEWS"> Новости</mat-radio-button>
					</mat-radio-group>
				</div-->

				<div class="alert alert-warning w-25 text-center">{{ 'currentlangshort' | translate }}</div>

				<button type="submit" class="iosBtn float-left">{{ 'edit' | translate }}</button>
				<mat-spinner *ngIf="postEditStatus" class="float-right" diameter="35"></mat-spinner>
			</form>

			<mat-spinner diameter="60" *ngIf="!checkObject(formData)" class="preload-spinner stone"></mat-spinner>

		</div>

	</div>
	<div class='col-12'>
		<div *ngIf="checkObject(formData)" class="mat-block mat-elevation-z4 uploader-handler">

			<div class="head">
				<i class="fa fa-photo"></i>
				<div class="head-title">{{ 'gallery' | translate }}</div>
			</div>

			<div class="current-images-wrapper">

				<!--div *ngIf="formData.image == '' " class="alert alert-success w-100" role="alert">
					<strong>Внимание! </strong>У этого поста еше нет изображений
				</div-->

				<div class="upload-buttons-group">

					<div class="wrapper">
						<input accept="image/*" multiple #inputFileDOM (change)="imagePreview($event); inputFileDOM.value = ''" [hidden]="true" type="file"
						 id="postImage">
						<label for="postImage">
							<mat-icon>attach_file</mat-icon>
						</label>
						<button [disabled]="!checkArray(imgUploadedPreview)" (click)="uploadPostImages()" class="iosBtn float-right">{{ 'upload' | translate }}</button>
						<mat-spinner *ngIf="imgUploadStatus" class="float-right" diameter="35"></mat-spinner>
					</div>
				</div>

				<div *ngIf="checkArray(imgUploadedPreview)" class="image-upload-block" [style.backgroundImage]="imagePreviewDOM">

					<div *ngFor="let img of  imgUploadedPreview;let ind = index" class="current-images mat-elevation-z4" [style.backgroundImage]="'url('+img+' )' | safestyle">
						<mat-icon class="delete" (click)="removeImageFromPreview(ind)">cancel</mat-icon>
						<!-- {{ind}} -->
					</div>

				</div>

				<div *ngIf="statusUploadText" class="alert alert-success w-100 text-center" role="alert">
					<strong>{{ 'attention' | translate }} </strong>{{statusUploadText}}
				</div>

				<div class="uploaded-images-wrapper">
					<div *ngFor="let img of formData?.image;let ind = index" class="current-images mat-elevation-z4" [style.backgroundImage]="'url('+img+' ),url(../../assets/img/img5.jpg)' | safestyle">
						<mat-icon class="delete" [matMenuTriggerFor]="menu">more_vert</mat-icon>
						<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
							<button *ngIf="ind !== 0" mat-menu-item (click)="setMainImage(img)">{{ 'setasmain' | translate }}</button>
							<button mat-menu-item (click)="copyLink( img )">{{ 'copylink' | translate }}</button>
							<button mat-menu-item (click)="deletePostImage(img,ind)">{{ 'delete' | translate }}</button>
						</mat-menu>
						<div *ngIf="ind == 0" class="mainImage">{{ 'mainimage' | translate }}
							<div>
								<!--span>{{img.split('/')[3]}}</span-->
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div *ngIf="checkObject(formData)" class='col-12'>
		<div class="mat-block mat-elevation-z4 comments-handler w-100">
			<div class="head">
				<i class="fa fa-photo"></i>
				<div class="head-title">{{ 'comments' | translate }}</div>
			</div>
			<ch-comments *ngIf = "urlParams.id" [boxid] = "urlParams.id" [boxidowner] = "formData?.owner?._id" ></ch-comments>
		</div>
	</div>