<div class="smarteditor-wrapper">

	<div class="smart-editor-header mat-elevation-z4">
		<mat-icon>flash_on</mat-icon>FLASH EDITOR
		<div class="hor-flexer"></div>
		<mat-icon (click)="toggleFixedElementsMenu();" matTooltip="{{ 'fix' | translate }} {{ 'menu' | translate }}">keyboard_hide</mat-icon>
		<mat-icon (click)="setTempData()" matTooltip="{{ 'savetemporarydata' | translate }}">archive</mat-icon>
		<mat-icon (click)="getTempData()" matTooltip="{{ 'gettemporarydata' | translate }}">cached</mat-icon>
		<!-- mat-icon (click)="editotInfoStarter = !editotInfoStarter" matTooltip="{{ 'manual' | translate }}">info_outline</mat-icon-->

	</div>
	<br>
	<div *ngIf="recoveryInfo" class="recovery-info alert-warning alert">
		<span>{{ 'recovered' | translate }} :</span>
		<span (click)="recoveryInfo = !recoveryInfo">{{ 'accept' | translate }}</span>
		<span (click)="getdefaultData();recoveryInfo = !recoveryInfo">{{ 'decline' | translate }}</span>
	</div>

	<!--div *ngIf="editotInfoStarter" class="smart-editor-info">
		<div class="smart-editor-info-header">
			<mat-icon>flash_on</mat-icon>FLASH EDITOR {{ 'manual' | translate }}
		</div>

		<hr>
		<div class="smart-editor-info-body">
			<h5>#{{ 'elements' | translate }}</h5>
			<p>
				<mat-icon>format_color_text</mat-icon>
				{{ 'titler' | translate }} - {{ 'maximum' | translate }} 85 {{ 'symbols' | translate }}
			</p>

			<p>
				<mat-icon>format_align_left</mat-icon>
				{{ 'paragraph' | translate }} - основной элемент для текстового содержания статьи
			</p>

			<p>
				<mat-icon>format_shapes</mat-icon>
				{{ 'focus' | translate }} - небольшие участки информации которые вы ходите выделить
			</p>

			<p>
				<mat-icon>insert_photo</mat-icon>
				{{ 'imagedesc' | translate}}
			</p>

			<p>
				<mat-icon>info_outline</mat-icon>
				Выбрав один из элементов вы можете вставить его в любое место в статье , отсчет начинается с самого верхнего элемента , например
				если у вас уже имеется 2 элемента и вы хотите вставить новый элемент между 1м и 2м то вам нужно нажать "Вставить на позицию
				2" , таким образом вы поместите новый элемент на вторую позицию , по такому принципу действуйте и с другими элементами
			</p>
			<hr>

			<h5>#{{ 'formatting' | translate }}</h5>
			<p>
				Форматирование позволяет изменять уже созданные элементы , например если вы создали абзац  вы можете изменить
				его на титул или на фокусный блок ,кликнув сначала по элементу , а затем на одну из иконок форматирования в меню.
			</p>
			<mat-icon>title</mat-icon>
			<p>
				{{ 'change' | translate }} 	{{ 'to' | translate }} {{ 'titler' | translate }}
			</p>
			<mat-icon>format_align_justify</mat-icon>
			<p>
				{{ 'change' | translate }} {{ 'to' | translate }} {{ 'paragraph' | translate }}
			</p>
			<mat-icon>mode_comment</mat-icon>
			<p>
				{{ 'change' | translate }} {{ 'to' | translate }} {{ 'focus' | translate }}
			</p>

			<hr>

			<h5>#{{ 'options' | translate }}</h5>
			<p>
				<mat-icon>archive</mat-icon>
				- Работая над статьей вы можете регулярно сохранять текущие данные во временном хранилище.В случае не предвиденных ошибок
				или сбоях вы легко можете вернуть последние сохраненные данные.
			</p>

			<p>
				<mat-icon>cached</mat-icon>
				- Восстановить последние сохраненные данные. Если вы восстановили последние сохраненные данные по случайности или ошибке
				просто вернитесь в меню и откройте заново редактор данной статьи.
			</p>

		</div>

	</div-->

	<!-- (mousedown) = "preventFocus($event)" -->

	<!--         EDITABLE CONTENT        -->
	<div contenteditable class="flasheditor-helpers" #editable id="editable"

		(blur)="removeMobileMenu();"
		(touchstart)="editableGetFocusClick($event);getCurrentNode($event)"
		(click)="editableGetFocusClick($event);getCurrentNode($event)"
		(input)="emitEditorChanges();change(finalData);editableGetFocusNextline($event);"
		(paste)="paste($event);"
	>

	</div>


	<div (swipeleft)="removeMobileMenu();" #shortmenu class="short-menu mat-elevation-z4">

		<button *ngIf= "currentNodeName !== 'IMG' " (click)="transformTo('h2')"><mat-icon>title</mat-icon></button>

		<button *ngIf= "currentNodeName !== 'IMG' " (click)="transformTo('p')"><mat-icon >format_align_justify</mat-icon></button>

		<button *ngIf= "currentNodeName !== 'IMG' " (click)="openGalleryImgCaption()"><mat-icon >insert_photo</mat-icon></button>

		<button *ngIf= "currentNodeName !== 'IMG' " (click)="extraOptionsTextStyle('bold')"><mat-icon>format_bold</mat-icon></button>

		<button *ngIf= "currentNodeName !== 'IMG' " (click)="extraOptionsTextStyle('italic')"><mat-icon>format_italic</mat-icon></button>

		<button *ngIf= "currentNodeName !== 'IMG' " (click)="transformToLink()"><mat-icon>link</mat-icon></button>

		<!--button *ngIf= "currentNodeName !== 'IMG' " (click)="transformToDevider()"><mat-icon>link</mat-icon></button-->

		<button *ngIf= "currentNodeName === 'IMG' " (click)="defaultImgOption(currentNode)"><mat-icon>add_circle_outline</mat-icon></button>

		<button *ngIf= "currentNodeName === 'IMG' " (click)="originalImgOption(currentNode)"><mat-icon >remove_circle_outline</mat-icon></button>

		<button *ngIf= "currentNodeName === 'IMG' " (click)="deleteOption(currentNode)"><mat-icon >clear</mat-icon></button>

	</div>



		<div id="extra" class="" #elementsmenu>
			<button matTooltip="{{ 'titler' | translate }}" (click)="transformTo('h2')">
				<mat-icon>title</mat-icon>
			</button>
			<button matTooltip="{{ 'paragraph' | translate }}" (click)="transformTo('p')">
				<mat-icon>format_align_justify</mat-icon>
			</button>
			<!--button matTooltip="{{ 'focus' | translate }}" (click)="transformTo('article')">
				<mat-icon>mode_comment</mat-icon>
			</button-->
			<button matTooltip="{{ 'image' | translate }}" (click)="transformToImageFromLink()">
				<mat-icon>insert_photo</mat-icon>
			</button>
			<!--button matTooltip = "Embed" (click)="transformToCode()">
				<mat-icon>code</mat-icon>
			</button-->
			<button matTooltip="{{ 'link' | translate }}" (click)="transformToLink()">
				<mat-icon>link</mat-icon>
			</button>
			<button matTooltip="{{ 'bold' | translate }}" (click)="extraOptionsTextStyle('bold')">
				<mat-icon>format_bold</mat-icon>
			</button>
			<button matTooltip="{{ 'italic' | translate }}" (click)="extraOptionsTextStyle('italic')">
				<mat-icon>format_italic</mat-icon>
			</button>
			<button matTooltip="{{ 'colorify' | translate }}" (click)="extraOptionsTextColor('lightblue')">
				<div class="easy"></div>
			</button>
			<button matTooltip="{{ 'colorify' | translate }}" (click)="extraOptionsTextColor('yellowgreen')">
				<div class="yellowgreen"></div>
			</button>
			<button matTooltip="{{ 'colorify' | translate }}" (click)="extraOptionsTextColor('#444')">
				<div class="default"></div>
			</button>
			<button matTooltip="{{ 'back' | translate }}" (click)="extraOptionsTextStyle('undo')">
				<mat-icon>rotate_left</mat-icon>
			</button>
			<button matTooltip="{{ 'forward' | translate }}" (click)="extraOptionsTextStyle('redo')">
				<mat-icon>rotate_right</mat-icon>
			</button>
			<button matTooltip="{{ 'delete' | translate }} {{ 'selection' | translate }}" (click)="extraOptionsTextStyle('delete')">
				<mat-icon>content_cut</mat-icon>
			</button>
			<button (click)="showResult()">
				<mat-icon>code</mat-icon>
			</button>

			<div class="w-50"></div>
		</div>

		<!--div id="elements-group">

			<div [matMenuTriggerFor]="menutitle" (click)="getElements()" class="iosBtn">
				<mat-icon>format_color_text</mat-icon>{{ 'titler' | translate }}</div>

			<mat-menu #menutitle="matMenu" xPosition="before" yPosition="below">
				<button *ngFor="let elem of elementsArr" (click)="makeTitile(elem )" mat-menu-item>
					{{ 'put' | translate }} {{ 'on' | translate }} {{ 'position' | translate }} {{elem + 1}}
				</button>
				<button (click)="makeTitile(elementsArr.length + 1)" mat-menu-item>
					{{ 'put' | translate }} {{ 'forward' | translate }}
				</button>
			</mat-menu>

			<div [matMenuTriggerFor]="menucontent" (click)="getElements()" class="iosBtn">
				<mat-icon>format_align_left</mat-icon>{{ 'paragraph' | translate }}</div>

			<mat-menu #menucontent="matMenu" xPosition="before" yPosition="below">
				<button *ngFor="let elem of elementsArr" (click)="makeContent(elem )" mat-menu-item>
					{{ 'put' | translate }} {{ 'on' | translate }} {{ 'position' | translate }} {{elem + 1}}
				</button>
				<button (click)="makeContent(elementsArr.length + 1)" mat-menu-item>
					{{ 'put' | translate }} {{ 'forward' | translate }}
				</button>
			</mat-menu>

			<div [matMenuTriggerFor]="menualert" (click)="getElements()" class="iosBtn">
				<mat-icon>format_shapes</mat-icon>{{ 'focus' | translate }}</div>

			<mat-menu #menualert="matMenu" xPosition="before" yPosition="below">
				<button *ngFor="let elem of elementsArr" (click)="makeAlert(elem )" mat-menu-item>
					{{ 'put' | translate }} {{ 'on' | translate }} {{ 'position' | translate }} {{elem + 1}}
				</button>
				<button (click)="makeAlert(elementsArr.length + 1)" mat-menu-item>
					{{ 'put' | translate }} {{ 'forward' | translate }}
				</button>
			</mat-menu>

			<div [matMenuTriggerFor]="menuimage" (click)="getElements()" class="iosBtn">
				<mat-icon>insert_photo</mat-icon>{{ 'image' | translate }}</div>

			<mat-menu #menuimage="matMenu" xPosition="before" yPosition="below">
				<button *ngFor="let elem of elementsArr" (click)="makeImage(elem )" mat-menu-item>
					{{ 'put' | translate }} {{ 'on' | translate }} {{ 'position' | translate }} {{elem + 1}}
				</button>
				<button (click)="makeImage(elementsArr.length + 1)" mat-menu-item>
					{{ 'put' | translate }} {{ 'forward' | translate }}
				</button>
			</mat-menu>

			<div [matMenuTriggerFor]="menuyoutube" (click)="getElements()" class="iosBtn">
				<i class="fa fa-youtube"></i>YouTube</div>

			<mat-menu #menuyoutube="matMenu" xPosition="before" yPosition="below">
				<button (click)="makeYoutube( elem  )" *ngFor="let elem of elementsArr" mat-menu-item>
					{{ 'put' | translate }} {{ 'on' | translate }} {{ 'position' | translate }} {{elem + 1}}
				</button>
				<button (click)="makeYoutube( elementsArr.length + 1)" mat-menu-item>
					{{ 'put' | translate }} {{ 'forward' | translate }}
				</button>
			</mat-menu>

			<div (click)="showResult()" class="iosBtn">
				<mat-icon>code</mat-icon>HTML</div>

		</div-->


	<div [hidden]="!HTMLEditor" (input)="handleHTMLeditor()" placeholder="HTML" #result class="result-block w-100 alert alert-warning">

	</div>
</div>

<!--                    IMAGE CAPTION                     -->

<div id= "gallery-image-caption" *ngIf = "galleryImageCaptionStatus" class =  "mat-elevation-z4">
	<img  (click) = "transformToImage(img)"  *ngFor = "let img of imgData;" [src] = "img" height = "150" width = "150">
	<div (click) = "galleryImageCaptionStatus = !galleryImageCaptionStatus" class = "close">{{ 'close' | translate }}</div>
</div>



<!--                  INFO OUTPUT                    -->

<ch-snackbar autohide>{{ infoOutput }}<ch-snackbar>



<br>