@import "../../../assets/style/variables.scss";


::ng-deep smarteditor{

	$margin:10px 0px 10px 0px;
	$defaultcolor : #444;

	.smarteditor-wrapper{

		width:100%;
		padding:5px 5px 10px 5px;
		border:0px solid rgb(255, 230, 230);
		border-radius:3px;


		.short-menu{

			display:flex;
			align-items: center;
			justify-content: space-around;
			transition:0.4s;
			opacity:0;
			padding:3px 0;
			height:42px;
			width:400px;
			background:#333;
			border:0px solid yellowgreen;
			border-radius:4px;
			position:absolute;
			bottom:663px;
			z-index: 1 !important;
			left: 50%;
			transform: translateX(-50%);

			button{
				background: none;
				border-width:0;
				border:0px solid red;
				text-align:center;
				color:white;
				min-width:20px;
				padding:5px 7px 0 7px;
			}

			mat-icon{
				background: none;
				color:#eee;
				border:0px solid blue;
			}

			&:before{
				content:"";
				display:block;
				min-height:20px;
				min-width:20px;
				left:48%;
				background: #333;
				transform:rotate(45deg);
				position:absolute;
				margin-top:15px;
				border-radius: 2px;
				z-index:-1 !important;

			}

		}



		#editable{


			width:100%;
			display:inline-block !important;
			margin-top:20px;
			min-height:50px;
			pointer-events: all;


			h1,h2,h3{

				margin : $margin;
				text-align:left;
				width:100%;
				min-height:50px;
				height:auto;
				padding:3px 0px 7px 0px;
				border-bottom:1.5px solid #cddc39;
				font-size:25px !important;
				cursor:pointer;
				color:#333;

			}


		/* EDITOR PARAGRAPH HANDLER */

			p , div{

				margin : $margin;
				padding:14px;
				border: 1px dotted #eee;
				border-radius:3px;
				width:100%;
				min-height:60px;
				height:auto;
				font-size:15px;
				cursor:pointer;
				transition:0.5s;
				word-wrap: break-word;
				color:#333;
				display:block;
				pointer-events: all !important;


				&:hover{
					border-style:1px dashed;
					border-color:gold;
				}

				img{
					width:100%;
				}


			}


			figure{

				display:block;
				padding:5px 5px 20px 5px;
				font-size:15px;
				transition:0.5s;
				border:2px solid #cddc39;
				border-radius: 3px;
				width:100%;
				color:#ccc;
				font-style: italic;
				text-align:center;
				z-index:999;

				figurecaption{

					display:block;
					border:1px solid #eee;
					margin-bottom:10px;
					min-width:100px;
					padding:20px;
					font-size:14px;
					user-select: auto;


				}

				&:hover{
					//filter:brightness(40%);
					cursor:pointer;
				}

				img{

					width: 100%;
					transition:0.5s;
					display:block;
					margin:0px auto 20px auto ;
					-webkit-user-select: none;

				}
			}


			section{
				caret-color: #ddd;
				transition:0.5s;
				cursor:pointer;
				font-weight: bold;
				text-align:center;
				border:1px dashed #ccc;
				padding:0px 10px 30px 10px;
				border-radius:3px;
				margin:10px 0px 10px 0px;

				iframe{
					display:inline-block !important;
					margin:0px !important;
				}

				&:before{
					content : "OPTIONS";
					font-weight: bold;
					font-size:15px;
				}

				&:hover{
					border-color: gold;
				}

			}

			hr{
				font-size:20px;
				text-align:center;
				color:#555;
				pointer-events: none !important;

				&:after{
					content:". . ."
				}
			}



		}



		#extra{

			display:flex;
			justify-content: space-between;
			align-items: center;
			height:70px;
			width:100%;
			-webkit-overflow-scrolling: touch;
			overflow-x:auto;
			z-index:3000;


			.easy,.heavy,.default,.yellowgreen{
				height:18px;
				width:18px;
				border-radius: 18px;
			}

			button{
				border:none;
				background: none;
			}

			mat-icon{ color:#aaa;}

			.easy{ background: lightblue };
			.heavy{ background: #ff5959 };
			.yellowgreen{ background:yellowgreen };
			.default{ background: $defaultcolor };

			& *{
				cursor:pointer;
				display:block;
			}

			&.fixed{

				padding:10px;
				right:40px;
				bottom:0px;
				width:600px;
				position: fixed; /* for Firefox */
				background: white;
				box-shadow: $matelevation;
				border:1px solid #ccc;
				border-radius: 1px;
				z-index:1500;
				-webkit-overflow-scrolling: touch;
			}


		}



		.smart-editor-header{
			display: flex;
			align-items: center;
			background: #eee;
			padding:8px;
			border-radius:3px;
			border:1px solid #ddd;
			color:#656565;

			mat-icon{
				margin-right:10px;
				color:#aaa;
			}
		}

		.result-block{
			margin-top:20px;
		}

		.smart-editor-info{

			margin-top:15px;
			.smart-editor-info-header{
				display:flex;
				align-items: center;
				text-transform: uppercase;
			}

			.smart-editor-info-body{
				margin-top:10px;

				mat-icon{
					float:left;
					margin-right:10px;
				}

			}

		}

		.recovery-info{

			span:nth-of-type(1){
				font-weight: bold;
			}
			span{
				margin-right:15px;
				cursor: pointer;

				&:hover{color:gold}
			}
		}

		.HTML-PREVIEW{
			white-space: pre-wrap;
		}


	}


	#gallery-image-caption{

		position:fixed;
		top: 50%;
		left:25%;
		right:25%;
		transform: translateY(-50%);
		background: white;
		width:50%;
		min-height:300px;
		border:1px solid #ccc;
		border-radius: 3px;
		z-index:1000;
		text-align: center;

		img{

			transition:0.5s;
			margin:5px;
			border-radius:2px;
			object-fit: cover;
			cursor:pointer;

			&:hover{
				filter:brightness(70%);
			}

		}

		.close{
			width:100%;
			padding:30px;
			color:#aaa;
			text-align: center;
			text-transform:uppercase;
			font-size:14px;
		}

	}



	@media screen and(max-width:900px){


			#gallery-image-caption{

					width:90%;
					left:5%;
					right:5%;
					height:80%;
					overflow:scroll;
					-webkit-overflow-scrolling: touch;

			}

			.smarteditor-wrapper{

				padding:5px 0px 10px 0px;
				border:0px;

				#editable *{
					list-style-position: inside !important;
				}

				#editable {
					h1,h2,h3,p{
						font-family:$titlefontfam;
					}
				}

				.short-menu{
					width:88% !important;
				}


				img{max-width:100%};

				figure.small-img{
					img{
						max-width:90% !important;
					}
				}

				#extra{

					&.fixed{
						width:100% !important;
						left:0px;
						right:0px;
					}

				}


		}


	}


}