<ch-header

[width] = "'98'"
[title]="Data?.owner?.login"
[typo]="Data?.owner?.tps?.name"
[fb]="Data?.owner?.facebook"
[insta]="Data?.owner?.instagram"
[tw]="Data?.owner?.twitter"
[vk]="Data?.owner?.vkontakte"
[ld]="Data?.owner?.linkedin"
[tg]="Data?.owner?.telegram"
[theme] = "Data?.owner?.style"
[categories] = "Categories?.ctg">

</ch-header>


<mat-spinner *ngIf="!Data || !DataLoaded" class="preload-spinner" [diameter]="60"></mat-spinner>

<div *ngIf="Data && DataLoaded" class="foreigner-wrapper">

	<ch-bio [data]="Data" *ngIf="Data?.owner?.typo == 0 || Data?.owner?.typo == 3 || Data?.owner?.typo == 4"></ch-bio>
	<typo-magazine [desc]="Data?.owner?.tps?.number !== 3 " [data]="Data?.posts"></typo-magazine>

	<ch-paginator *ngIf="pageStep" [defaultlimit]="defaultLimit" [pagestep]="pageStep"></ch-paginator>

	<div *ngIf="Data.owner" class="bio">

		<div [style.backgroundImage]=" ' url('+Data?.owner?.pokerfaceformatted+') ,url(../../../assets/img/img5.jpg) ' | safestyle   "
		 class="bio-avatar">
		</div>

		<div class="bio-content">
			<div class="bio-title">
				{{ Data?.owner?.login }} {{ Data?.owner?.tps?.name }}
			</div>
			<div class="bio-date">
				{{ 'founded' | translate }} {{ Data?.owner?.created_at | converttime }}
			</div>

			<div class="bio-desc">
				{{ Data?.owner?.about | cuttext : 200 }}
			</div>

			<div class="bio-title">
				Socials
			</div>

			<div class="bio-social">

				<a *ngIf="Data?.owner?.facebook" [style.color] = "Data?.owner?.style?.secondarycolor" [href]="Data?.owner?.facebook">
					<i class="fa fa-facebook"></i>
				</a>
				<a *ngIf="Data?.owner?.instagram"  [style.color] = "Data?.owner?.style?.secondarycolor" [href]="Data?.owner?.instagram">
					<i class="fa fa-instagram"></i>
				</a>
				<a *ngIf="Data?.owner?.vkontakte"  [style.color] = "Data?.owner?.style?.secondarycolor" [href]="Data?.owner?.vkontakte">
					<i class="fa fa-vk"></i>
				</a>
				<a *ngIf="Data?.owner?.twitter"  [style.color] = "Data?.owner?.style?.secondarycolor" [href]="Data?.owner?.twitter">
					<i class="fa fa-twitter"></i>
				</a>
				<a *ngIf="Data?.owner?.linkedin"  [style.color] = "Data?.owner?.style?.secondarycolor" [href]="Data?.owner?.linkedin">
					<i class="fa fa-linkedin"></i>
				</a>
			</div>

		</div>

	</div>

	<br>

	<div *ngIf="HELPERS.BrowserOk() && Data.owner" class="share-btns-group">
		<share-button [url]="host" [theme]="'modern-dark'" [button]="'facebook'" [showText]="true" [showCount]="true" [size]="-4"></share-button>
		<share-button [url]="host" [theme]="'modern-dark'" [button]="'vk'" [showText]="true" [showCount]="true" [size]="-4"></share-button>
		<share-button [url]="host" [theme]="'modern-dark'" [button]="'telegram'" [showText]="true" [showCount]="true" [size]="-4"></share-button>
		<share-button [url]="host" [theme]="'modern-dark'" [button]="'whatsapp'" [showText]="true" [showCount]="true" [size]="-5"></share-button>
		<share-button [url]="host" [theme]="'modern-dark'" [button]="'twitter'" [showText]="true" [showCount]="true" [size]="-5"></share-button>
		<share-button [url]="host" [theme]="'modern-dark'" [button]="'google'" [showText]="true" [showCount]="true" [size]="-5"></share-button>
		<share-button (click) = "copyLink()" [url]="host" [theme]="'modern-dark'" [button]="'copy'" [showText]="true" [size]="-5"></share-button>
	</div>

</div>