@import "../../assets/style/variables.scss";

::ng-deep app-foreigner{

	$optimalWidth : 99%;


	.foreigner-wrapper{

		width:$optimalWidth;
		min-height:100vh;
		margin: calc(#{$toolbarDesktopHt} + 7px) auto;

	}


	// // BIO // //

	.bio{
		position: relative;
		width:100%;
		display:flex;
		min-height:330px;
		height:auto;
		border:1px solid #eee;
		border-radius: 2px;
		margin:0px auto 0px auto;

		.bio-avatar{

			width:450px;
			min-height:330px;
			background-size:cover;
			background-position: center;
			background-color:#eee;
			border:1px solid #ddd;

		}

		.bio-content{
			padding:0 55px 0 55px;
			flex:1;

			.bio-title{
				text-transform: uppercase;
				font-size:40px;
				font-family: $titlefontfam;
				font-weight: bold;
			}

			.bio-date{
				font-size:15px;
				font-weight: bold;
			}

			.bio-social{
				border-width:0px;
				a{
					color:yellowgreen;
					font-size:30px;
					margin-right:20px;
					text-shadow:0px 0px 1px #111;
				}
			}

		}

		.bio-title , .bio-date , .bio-desc , .bio-social{
			color:#333;
			border-bottom:0px solid #eee;
			padding:10px;
		}

	}

	///////////////////////


	@media screen and(max-width:900px)  {

		.foreigner-wrapper{
			width:100%;
			margin:0;
		}

		// // BIO MOBILE// //

		.bio{
			flex-direction: column !important;
			width:100%;

			.bio-content{
				padding:0 25px 0 25px !important;
			}

			.bio-avatar , .bio-content{
				width:100% !important;
			}
		}


	}


}