<div [@dialog] (click)="emitClose()" *ngIf="modality" class="overlayR">

	<div [@dialog] class="modality mat-elevation-z4">

			<div (click) = "preventClick()" class="content">
				<ng-content></ng-content>
			</div>

			<div *ngIf="close" class="close w-100 text-center" >
				<button (click)="emitClose();" class="btn">Закрыть</button>
			</div>

	</div>

</div>