@import "../../assets/style/variables.scss";

::ng-deep app-modal {

	$standartRadius : 5px;

	.overlayR {
		z-index: 3000;
		max-height: none;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.75);
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
		left:0px;
		right:0px;
		top: 0;
		bottom: 0;

	}

	.modality {
		display:flex;
		flex-direction: column;
		position:absolute;
		overflow-y:hidden !important;
		right: 0;
		left: 0;
		margin-top:auto;
		margin-bottom:auto;
		margin-left:auto;
		margin-right:auto;
		background-color: white;
		min-height:115px;
		height:auto;
		width:50%;
		max-height:90%;
		border-radius:	$standartRadius;
		border:1px solid #656565;


	}


	.header-flex{
		display:flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		width:100%;
		background: white;
		border:0px solid red;

	}

	.alert{
		border-radius: 	$standartRadius !important;
	}

	.close{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		min-height:50px;
		max-height:50px;
		background-color: white;
		z-index:999;
		left:0px;
		right: 0px;
		border-top:1px solid #ddd;


		.btn{
			cursor:pointer;
			color:#007AFF;
			background:white;
		}
	}



	.content {
		display:inline-block;
		text-align: center;
		padding:5px 15px 0px 15px;
		/* flex : 1 */
		overflow-x:hidden;
		overflow-y:scroll;
		max-height:100%;
		height:auto;
		z-index:1999;
		-webkit-overflow-scrolling: touch;
	}

	@media screen and( max-width:900px){

		.modality {

			width:90%;
			border-radius:10px;
		}


	}


}

