@import "../../../assets/style/variables.scss";
::ng-deep app-emoji{


	.EMOJI-WRAPPER{

		padding:15px 0px 15px 0px;
		text-align: center;

		.EMOJI-BUTTON{
			max-width:120px;
		}

		.EMOJI{

			text-align: center;
			box-shadow:0 0px 0px #656565;
			margin:15px 0px 15px 0px;
			padding:0px;
			border:0px solid #ccc;
			font-size:20px;

			span{

				margin-left:10px;
				cursor:pointer;

			}
		}

	}

}