<div class="EMOJI-WRAPPER">
	<div (click)="emojiBlock = !emojiBlock"class = "EMOJI-BUTTON iosBtn mx-auto">
		<mat-icon>mood</mat-icon>EMОJI</div>
	<div *ngIf="emojiBlock" class="EMOJI">
		<span (click)="chooseEmoji($event)" *ngFor="let emoji of EMOJI" class='fsize20px emoji cursor' [innerHTML]="emoji | pmSanitizeHtml"></span>
	</div>
</div>