@import "../../../assets/style/variables.scss";

::ng-deep app-search{

	.body{
		height:300px;
		overflow-y:scroll;

		p{
			width:200px;
			text-align: left;
			margin-left:30px;
			color:$iosFontColor;
			margin-top:15px;
			opacity:0.7;

			mat-icon{
				float:left;
				margin:0px 5px 0px 0px;
			}
		}
	}
}