<app-modal  [close] = "true">

	<div class="header ">

	</div>

	<div class = "body">
		<mat-spinner *ngIf="!categories" [diameter] = "50" class="preload-spinner"></mat-spinner>
		<p  (click) = "fetchCategory('ALL')">Вся Лента</p>
		<p *ngFor="let category of categories"   (click) = "fetchCategory(category.number)">{{ category.name }}</p>

	</div>

</app-modal>
