@import "../../../assets/style/variables.scss";

	.row{
		height:100%;
		margin-top:150px;
	}

	.title{
		font-weight:bold;
		float:left;
		margin-right:5px;
		font-family:$titlefontfam;

		& * {
			float:left;
			font-size:30px;
			}
		i.fa-podcast{
			color:$themecolor1;
			margin:0 10px 0 5px;
			}

		h3{
			font-family: $titlefontfam;
			font-weight:bold;
		}

		h3:nth-of-type(1){
			color:$themecolor1;
		}

		h3:nth-of-type(2){
			color:#555;
		}
	}



	.king-auth-form{

		width:100%;

		input{

			width:100%;
			margin-bottom:20px;
			margin-top:5px;
			border-width:0;
			border-radius:3px ;
			background:rgba(0,0,0,0.03);
			color:#555;
			font-size:13px;
			padding:10px 8px 10px 15px;
			border:1px solid #ddd;

		}

		button{float:left;}

		.exit{
			float:right;
			color:$themecolor1;
			cursor:pointer;
			margin-left:7px;
			border-bottom:1px solid $themecolor1;
			text-transform:uppercase;
			font-size:14px;
		}

	}

	.signed-accounts{
		margin-top:50px;
		margin-bottom:50px;
		width:100%;
		height:auto;
		min-height:150px;

		.account-card{
			width:100%;
			height:53px;
			border-radius:3px;
			border:1px solid #ddd;
			background:#eee;
			display:flex;
			align-items: center;
			margin-top:10px;
			padding:5px;
			cursor:pointer;
			transition:0.5s;

			i{
				margin-right:25px;
				color:#888;
				font-size:22px;

				&:hover{
					color:gold;
				}
			}

			&:hover{
				border:1px solid gold;
			}
		}

		.account-login{
			font-size:13px;
			text-transform: uppercase;
			margin-left:10px;
			font-weight: bold;
			color:#555;
		}

		.account-avatar{
			$size:40px;
			height:$size;
			width:$size;
			border-radius:$size;
			border:1px solid #888;
			background-size:cover;
			background-position:center;
			margin-left:5px;
		}


	}

	.ng-invalid .ng-touched{
		.mat-form-field-label{

		}
	}

	/*        HIDE AUTO COMPLETE YELLOW COLOR            */

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;

	}


	output{
		display:block;
		color:red;
		width:100%;
		height:30px;
		font-size:15px;
	}

@media screen and(max-width:900px){

	.row{
		min-height:100vh;
	}


}


