<div [@routerTransition] class="row w-100 mx-auto">
	<div class="col-lg-4 mx-auto col-12">

		<div class="title">
			<h3>{{ globalEnv.Strings.title }}</h3>
			<i class="fa fa-podcast fa-2x"></i>
			<h3> {{ globalEnv.Strings.type }}</h3>
		</div>

		<form [formGroup]="Form" class="king-auth-form">

			<input formControlName="login" type="text" required [(ngModel)]="credits.login" matInput placeholder="{{'login' | translate}}">

			<input formControlName="password" required [(ngModel)]="credits.password" type="password" matInput placeholder="{{'password' | translate}}">

			<div *ngIf="errMsg" class="alert alert-warning  text-left" role="alert">{{errMsg}}</div>

			<button (click)="signIn()" class="iosBtn w-25">{{'enter' | translate}}</button>
			<span [routerLink]="['/space/page/signupuser']" class="exit">{{'signup' | translate}}</span>
			<span [routerLink]="['']" class="exit"> {{'gohome' | translate}}</span>

		</form>

		<div class="signed-accounts">

			<div class="account-card" *ngFor="let account of accountsData;let ind = index">
				<div class="account-avatar" [style.backgroundImage]="'url('+ account.pokerface +' ),url(../../../assets/img/img5.jpg)' | safestyle "></div>
				<span class="account-login">@{{ account.login }}</span>

				<div class="hor-flexer"></div>
				<i class="fa fa-sign-in" (click)="AuthService.authOK(account.token , 'space/page/welcome')"></i>
				<i class="fa fa-close" (click)="removeSignedAccount(ind)"></i>
			</div>

		</div>

	</div>
</div>