

@import "~bootstrap/scss/bootstrap";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./theme.scss";
@import "./assets/style/variables.scss";
@import "./assets/style/interface.scss";

@import "./assets/fonts/font-awesome/css/font-awesome.min.css";
@import url('material-design-icons/iconfont/material-icons.css');

//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

//SHARE BUTTONS STYLES//
@import "~@ngx-share/button/styles/share-buttons";
@import "~@ngx-share/button/styles/themes/modern/modern-dark-theme";


/* FIX MODAL FOR ALL PLATWORMS AND WEBVIEW */
@import "./assets/style/modalcrossplatform.scss";
/* HELPERS */
@import "./assets/style/helpers.scss";


html{
	color:#444;
	overflow-x:hidden;
	margin:0px;
	width:100%;
	height:100%;
}

body{
	font-family:$deskfontfam !important;
	overflow-x:hidden;
	width:100%;
	margin:0px;
	height: auto;

	/*transition: 0.5s; */
	/*-webkit-overflow-scrolling: touch;*/
}


a:link
{
 text-decoration:none !important;
}


*:focus{
	outline: none !important;
}

[brdr]{
	border:1px solid red;
}

.hor-flex{
	flex-grow: 1;
}

.hor-flexer {
	flex-grow: 1 !important;
	}

.vert-flexer{
	flex:1 !important;
	width:100%;
}
.status-active{
	color:yellowgreen !important
}

.status-unactive{
	color:#ff5959 !important;
}

.alert{
	line-height: 20px;
	font-size:14px;
	border-radius: 1px;
}

.preload-spinner{
	margin: 150px auto;
}

.ch-preloader{
		border-radius:5px;
		border:0px solid #eee;
		height:20%;
		width:30%;
		display:flex;
		align-items: center;
		justify-content: center;
		margin:auto;
		background: white;
		z-index:999;

		position:fixed;
		top:40%;
		left:35%;
}

.trunctxt{
	display:block;
	width:250px;text-overflow: ellipsis;
	overflow: hidden;
}

.txtcut{
	text-overflow: ellipsis;
	overflow: hidden;
}

.uppertxt{
	text-transform: uppercase;
}

.approved{
	color:$themecolor1 !important;
	/* text-shadow:1px #656565;*/
	border-radius:50px;
}

.txtshadow{
	text-shadow:0px 0px 1px $barsbordercolor;
}

.txtshadow2{
	text-shadow:0px 0px 1px #656565;
}

.cursor{ cursor : pointer };

.mat-spinner circle{
	stroke:$themecolor4;
}

.vert-space1{
	width:100%;
	height:15px;
}


hr.devider{

	overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #eee;
    color: #555;
    text-align: center;
	margin-top:55px;
	margin-bottom:55px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:55%;



}

hr.devider:after{
	content: ' .  .  . ';
	display: inline-block;
	position: relative;
	top: -1.1em;
	font-size: 3em;
	padding: 0 0.3em;
	background: white;
	color: #656565;
}

/* ANGULAR MATERIAL @OVERRIDE */


.cdk-overlay-container{
	z-index:2000 !important;
}

.mat-menu-item {

	font-size: 13px !important;
	height:28px !important;
	line-height:0px !important;

}


mat-icon{
	cursor:pointer;
	&:hover{color:rgba( 0 , 0 , 0 , 0.7 );}
}

/*                              */



/*        HIDE AUTO COMPLETE YELLOW COLOR            */

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;

	}

/* ......... SAFARI  STYLING RESTRICTION ......*/
	textarea,
	input[type="text"],
	input[type="button"],
	input[type="password"],
	input[type="submit"],
	.input-checkbox {
		-webkit-appearance: none;
		border-radius: 0;
	}


@media screen and (max-width: 900px){

	body{
		font-family: Arial !important;
		overflow-y:hidden;
		background-color:rgba(166, 223, 54, 0.0);
	}

	.preload-spinner{
		position:fixed !important;
		top:0px;
		bottom:0px;
		left:0px;
		right:0px;
		margin:auto;
		z-index:0;
	}

	.preload-spinner.stone{
		position:absolute !important;
		top:0px;
		bottom:0px;
		left:0px;
		right:0px;
		margin:150px auto;
		background: white;


	}

	.mat-snack-bar-container{
		border-radius: 0px !important;
	}

	hr.devider{
		width:100%;
	}


	.statusBarFixer{
		width:100%;
		height:20px;
		//height:env(safe-area-inset-top);
		//height:constant(safe-area-inset-top);
		//min-height:$statusBarHt;
	}

	.statusBarFixer2{
		width:100%;
		height:0px;
		height:env(safe-area-inset-top);
		height:constant(safe-area-inset-top);
		min-height:$statusBarHt;
	}

	.statusBar{
		min-width:100% !important;
		height:constant(safe-area-inset-top);
		height:env(safe-area-inset-top) ;
		min-height:$statusBarHt;
	/*	background:$themecolor1StatusBar; */
		filter:grayscale(20%);
		background: inherit;
		border-bottom:0.1px solid rgba(0,0,0,0.1);
	}

}


/* IPHONE X RESOLUTION */
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
		.statusBarFixer{
			height:40px;
		}
	}

body::-webkit-scrollbar,	textarea::-webkit-scrollbar {
 		width: 7px;
	}

body::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
		background-color: $themecolor1 !important;
	}



