
<app-modal  [close] = "true">

	<div class="header alert ">
			<i *ngIf = "Helpers.isIOS()" class="fa fa-apple"></i>
			<i *ngIf = "Helpers.isAndroid()" class="fa fa-android"></i>
			<span class="title"> Установите приложение в три клика c <a href  = "https://chakirberg.com">главной</a> страницы</span>
	</div>

	<div class = "body">

		<img *ngIf = "Helpers.isIOS()" src ="../../assets/img/IOSAPPINST.GIF" class = "INST"  >
		<img  *ngIf = "Helpers.isAndroid()" src ="../../assets/img/ANDROIDAPPINST.GIF" class = "INST"  >

	</div>

</app-modal>


