@import "../../../assets/style/variables.scss";
::ng-deep addtohomescreen-dialog{

	i{
		font-size:20px !important;
		margin-right:5px;
	}


	.title{
		font-size: 14px;
		color:#656565 !important;

	}

	.INST{

		object-fit: cover;
		height:100%;
		width:100%;
	}

	.body{
		min-height:500px;
		margin-top:10px;
		min-height:300px;
		width:100%;
		background-color:#eee;

	}


}




	@media screen and ( max-width : 900px ){

		::ng-deep .dialog-aths{

			border-radius:30px !important;
			width:90% !important;
			max-width:90% !important;

		}
	}

	::ng-deep .cdk-overlay-container{





	}






