<!-- \\\\\\\\\\\\\\ HEADER MOBILE  \\\\\\\\\\\\\\\\ -->


<div class=" mx-auto channel hidden-lg-up">

	<div *ngIf="HELPERS.IOSstatusBarRender()" style="filter:brightness(90%)" class="statusBar" #statusbar></div>

	<div class="channel-content">

		<div class="search">
			<i (click)="RefreshPage()" class="fa fa-refresh"></i>
		</div>

		<div class="title">
			<h3 class="txtshadow2 float-left" [routerLink]="['']">{{ globalEnv.Strings.title }}</h3>
			<h3 class="txtshadow2 float-left" style="color:#555555;margin-left:10px">MEDIA</h3>
		</div>

		<div class="locker">
			<i [routerLink]="[ '/' + kingRoutes.main.signin] " class="fa fa-sign-in"></i>
		</div>

	</div>

</div>


<!-- \\\\\\\\\\\\\\ HEADER DESKTOP  \\\\\\\\\\\\\\\\ -->


<div class="post-page-header hidden-md-down" #postheader>
	<div style="filter:brightness(90%)" *ngIf="HELPERS.IOSstatusBarRender()" class="statusBar"></div>

	<div class="header-content">


		<div class="header-social">

			<a [href]="globalEnv.Socials.facebook" [target]="globalEnv.Socials.facebook">
				<i class="fa fa-facebook "></i>
			</a>
			<a [href]="globalEnv.Socials.instagram" [target]="globalEnv.Socials.instagram">
				<i class="fa fa-instagram "></i>
			</a>
			<a [href]="globalEnv.Socials.youtube" [target]="globalEnv.Socials.youtube">
				<i class="fa fa-youtube "></i>
			</a>

		</div>

		<div class="hor-flexer"></div>

		<span [routerLink]="['']">
			<div style="display:flex;align-items:center;margin-right:50px" class="logo">
				<i class="fa fa-podcast txtshadow2"></i>
				<h2 (click)="skk()" class="txtshadow2">{{ globalEnv.Strings.title }}</h2>
				<!--h2  class="txtshadow2" style="color:#555;margin-left:10px">{{ globalEnv.Strings.type }}</h2-->
			</div>
		</span>

		<div class="hor-flexer"></div>

		<div class="header-social">

			<h5 class="txtshadow2" matTooltip="{{ 'signin'  | translate }}" [routerLink]="[ '/' + kingRoutes.main.signin]">LOG IN</h5>
			<h5 class="txtshadow2" matTooltip="{{ 'signup' | translate }}" [routerLink]="[ '/' + kingRoutes.main.signupuser ]">SIGN UP</h5>

			<i [matMenuTriggerFor]="langmenu" matTooltip="{{ 'language' | translate }}" class="fa fa-globe "></i>
			<mat-menu #langmenu="matMenu" xPosition="before" yPosition="below">
				<button mat-menu-item (click)="i18n.changeLang('ru')"><mat-icon>cloud_circle</mat-icon>RU</button>
				<button mat-menu-item (click)="i18n.changeLang('en')"><mat-icon>cloud_circle</mat-icon>EN</button>
			</mat-menu>

		</div>

	</div>
</div>

<!-- HEADER FIXER -->
<div class = "header-fixer"></div>


<div *ngIf="HELPERS.IOSstatusBarRender()" class="statusBarFixer"></div>


<!-- //////////// ROUTER CONTENT ///////////////-->


<div id="app-router-outlet" #routeroutlet>

	<router-outlet></router-outlet>

</div>

<!-- USERS LIVE COUNTER -->


<div class="users-counter">
	<div class="wrapper">
		<i class="fa fa-user-circle"></i>
		<div class="number txtshadow2">{{ clients }}</div>
	</div>
</div>


<!-- //////////// DESKTOP SIDE MENU ///////////////-->


<div id="sideMenu" class="hidden-md-down">
	<i [routerLink]="['']" class="fa fa-podcast "></i>
	<i [routerLink]="[ '/'+ mainRoutes.nested.gallery ]" class="fa fa-instagram"></i>
	<i [routerLink]="[ '/'+ mainRoutes.nested.youtube]" class="fa fa-youtube "></i>
	<i [routerLink]="[ '/'+ mainRoutes.nested.saved]" class="fa fa-bookmark "></i>
</div>


<!-- //////////// MOBILE BOTTOM MENU ///////////////-->


<app-mobilemenu>
	<i (click)="hideNav()" [routerLink]="['']" class="fa fa-podcast "></i>
	<i (click)="hideNav()" [routerLink]="[ '/'+ mainRoutes.nested.gallery ]" class="fa fa-instagram"></i>
	<i (click)="hideNav()" [routerLink]="[ '/'+ mainRoutes.nested.youtube]" class="fa fa-youtube "></i>
	<i (click)="hideNav()" [routerLink]="[ '/'+ mainRoutes.nested.options ]" class="fa fa-compass "></i>
</app-mobilemenu>


<!-- /////////////////// FOOTER ////////////////////////-->


<app-footer [col]="'white'" [fontcol]="'#555'"></app-footer>