@import "../../assets/style/variables.scss";


app-home{

	$optimalWidth : 93%;
	$optimalWidthMobile : 98%;

	#app-router-outlet{
		width:$optimalWidth;
		margin:auto;
	}

	#sideMenu{

		position: fixed;
		top:45%;
		left:4px;
		width:30px;
		height:100px;
		display: flex;
		flex-direction: column;
		border-radius:0px 3px 3px 0px;
		border:0px solid #eee;
		justify-content: space-around;
		text-align: center;
		cursor:pointer;

		i{
			$size:38px;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height:$size;
			width:$size;
			border-radius: $size;
			text-align: center;
			border:1px solid $themecolor1;
			font-size:20px;
			color:$themecolor1;
			margin:3px 0 3px 0;
			background: white;

			&:hover{

			}
		}
	}

	.header-fixer{
		height:calc(#{$toolbarDesktopHt} + 5px);
	}

	.post-page-header{

		transition:0.7s;
		font-family:$titlefontfam;
		width:100%;
		position: fixed !important;
		top:0;
		left:0;
		right:0;
		z-index:999;
		//border-bottom:0.7px solid $barsbordercolorlite ;
		background:rgba(255,255,255,0.97);
		//box-shadow: $matelevationlite;

		.header-content{

			height:$toolbarDesktopHt;
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			width:$optimalWidth;
			justify-content: space-between;
			color:$themecolor3;
			text-indent: 10px;
			margin:auto;

			h2{
				margin-top:5px;
				font-size:37px;
				font-weight:600;
				cursor:pointer;
				letter-spacing: 2px;
			}

			i.fa-podcast{
				margin-left:10px;
				font-size:40px;
			}

			.header-social{
				max-width:230px;
				display:flex;
				flex:3;
				justify-content: space-between;
				i{
					font-size:25px;
					color:$themecolor1StatusBar;
					cursor: pointer;
				}
				i.fa-paper-plane{
					font-size:22px;
				}

				h5{
					color:#555;
					font-weight: bold;
					cursor:pointer;
					transition:0.5s;
					&:hover{color:$themecolor1}
					}

			}

		}

	}


	.channel{

		overflow-x: hidden;
		background: white;
		color:$themecolor1StatusBar;
		width:100%;
		position:fixed;
		top: 0;
		left:0px;
		right:0px;
		max-width:100%;
		z-index:2500;

		.channel-content{

			transition: 0.5s;
			overflow-x: hidden;
			height:$toolbarMobileHt ;
			width:100%;
			max-width:100%;
			min-width:100%;
			border-bottom:0.6px solid $barsbordercolorlite ;
			font-size:17px;

			.search,.title,.locker{
				display:block;
				float:left;
				text-align:center;
				display:block;
				height:100%;
				padding-top:10px;
			}

			.search , .locker{
				width:13%;
			}

			.title{
				display:flex;
				align-items: center;
				justify-content: center;
				font-family:$titlefontfam;
				width:74%;
				font-size:22px;
				text-align: center;
				padding-bottom:4px;
			}


			.fa{
				font-size:25px ;
				width:20px;
			}

		}

	}


	.live-icon{
		color:#ff5959;
		font-size:20px;
		text-shadow: 0px 0px 1px  black;
	}


	.users-counter{

		$round: 55px;
		text-align: center;
		background: $themecolor1;
		border:1px solid $barsbordercolor;
		color:white;
		font-size:15px;
		font-weight:bold;
		position: fixed ;
		bottom:15px;
		right:15px;
		height:$round;
		width:$round;
		border-radius:$round;
		z-index:3000;

		.wrapper{
			@include vertalign;
			display:inline-block;
		}

		.number{

		}

	}




	@media screen and(max-width:900px){

		#app-router-outlet{
			width:100%;
			min-height:100vh;
		}

		.header-fixer{
			height:$toolbarMobileHt;
		}


		.homeHost{
			height:100%;
		}


		.users-counter{

			position:fixed;
			right:10px;
			bottom:40px;
			margin-bottom:20px;
			//margin-bottom:calc(env(safe-area-inset-top) );
			//margin-bottom:calc(constant(safe-area-inset-top) );

		}

	}


	/* IPHONE X RESOLUTION */
	@media only screen
		and (device-width : 375px)
		and (device-height : 812px)
		and (-webkit-device-pixel-ratio : 3) {
			.users-counter{
				margin-bottom:50px;
			}
		}


}

