<div class="row w-100 mx-auto" >

	<div class="col-12">

		<div class="post-option-chips">
			<mat-chip-list>
				<mat-chip *ngIf="defaultActive != 'ALL' " (click)="defaultActive = 'ALL' ; fetchAllPosts( 0 , defaultActive);">{{ 'all' | translate }}</mat-chip>
				<mat-chip *ngIf="defaultActive != 1" (click)="defaultActive = 1 ; fetchAllPosts( 0 , defaultActive);" color="accent" selected="true">{{ 'actives' | translate }}</mat-chip>
				<mat-chip *ngIf="defaultActive != 0" (click)="defaultActive = 0  ;fetchAllPosts( 0 , defaultActive); " color="primary" selected="true">{{ 'unactives' | translate }}</mat-chip>
			</mat-chip-list>
		</div>

	</div>

<div class="w-100">
	<app-postcard [postsloaded]="postsLoaded" [data]="postsData"></app-postcard>
</div>

<br>

<div class="paginator w-100">
	<ch-paginator *ngIf="pageStep" [defaultlimit]="defaultLimit" [pagestep]="pageStep"></ch-paginator>
</div>

</div>