<div id = "desks">
	<div *ngFor = "let Desk of Desks" class = "desk-wrapper mat-elevation-z4" [style.backgroundImage]="'url('+Desk.pokerfaceformatted +' ),url(../../../assets/img/icons/brokenimg.png)' | safestyle ">
		<div class = "background-filter">
			<div class = "title" >
				<span>{{Desk.login}}</span>
				<span>{{Desk?.tps?.name}}</span>
			</div>
			<div class = "desc">{{Desk?.about | cuttext : 200}}</div>
			<button [routerLink] = "['/' + Desk.login ]" class = "mat-elevation-z4">{{ 'open' | translate }}</button>
		</div>

	</div>
</div>