@import "../../../assets/style/variables.scss";

#desks{

	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.desk-wrapper{

	position: relative;
	height:420px;
	width:60%;
	margin-bottom:1%;
	background-position: center;
	background-size:cover;
	text-transform: uppercase;


	.background-filter{
		text-align: center;
		border:0px solid #ccc;
		position: absolute;
		top:0;bottom:0;
		left:0;right:0;
		background: rgba(0,0,0,0.45);

		.title{
			width:100%;
			color:white;
			margin:120px auto 20px auto;
			font-family: $titlefontfam;
			font-weight: 600;
			text-shadow:0px 0px 1px #333;
			font-size:45px;
			float:left;


			span:nth-of-type(1){
				color:$themecolor4;
			}
		}

		.desc{
			color:white;
			font-size:13px;
			margin:auto auto 30px auto;
			width:90%;

		}

		button{
			border:2px solid $themecolor4;
			border-radius: 3px;
			color:$themecolor4;
			background: transparent;
			padding:10px 20px 10px 20px;
			text-transform: uppercase;
			font-family:arial;
			transition:0.3s;

			&:hover{
				border:2px solid yellow;
				color:yellow;
				cursor:pointer;
				opacity:0.8;
				padding:14px 24px 14px 24px;
			}

		}

	}

}

.desk-wrapper:nth-of-type(4n+1),
.desk-wrapper:nth-of-type(4n+4){
	width:39%;
}

@media screen and (max-width:900px){
	.desk-wrapper{
		width:100% !important;

		.background-filter{
			.title{
				font-weight: 200;
				margin:80px auto 20px auto;
			}
		}
	}
}