<div class="row">

	<div class="col-lg-12 col-md-12 col-12">

		<div class="mat-block  mat-elevation-z4 users-handler mat-block-ht2">

			<div class="head">
				<i class="fa fa-address-book"></i>
				<div class="head-title">{{ 'users' | translate }}</div>
			</div>

			<hr>

			<div class = "search-block" >
				<input (ngModelChange)="getUsersListByName()"  [(ngModel)] = "search" type = "text" placeholder = "SEARCH...">
			</div>

			<div class="users-block" *ngFor = "let user of usersData;let ind = index">

				<div class="head w-100" >
					<div [ngClass]="{ '1' : 'status-active' , '0' : 'status-unactive'}[user?.active]" class="avatar" [style.backgroundImage]="'url('+ user.pokerfaceformatted +' ),url('+ GlobalenvService.Images.broken +' )' | safestyle "alt="image"></div>

					<div class="uppertxt  login float-left" >
						<div class="w-100">
							<b class = "user-login">{{ user.login | cuttext:15}} {{ user?.tps?.name }}</b>
						</div>

						<div class="time" >{{ user.created_at | converttime }}</div>
						<div class="time" >{{ user.role }}</div>
					</div>

					<div  class = "options-icon">
						<mat-icon  [matMenuTriggerFor]="menu">more_vert</mat-icon>
					</div>

					<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
						<button mat-menu-item [matMenuTriggerFor]="active">{{ 'activation' | translate }}</button>
						<button (click) = "removeUserHandler(user._id , ind)" mat-menu-item>{{ 'delete' | translate }}</button>
					</mat-menu>

					<mat-menu #active="matMenu">
						<button mat-menu-item *ngIf="!user?.active"  (click)="setUserActive( user , 1 )" > {{ 'turnon' | translate }}</button>
						<button mat-menu-item *ngIf="user?.active"  (click)="setUserActive( user , 0 )" >{{ 'turnoff' | translate }}</button>
					</mat-menu>

				</div>

				<div class="user-desc" >{{ user.about | cuttext:300 }}</div>
			<hr>
			</div>

			<div  class = "users-more">
				<i *ngIf = "dataLoaded" (click) = "getUsersList();" class = "fa fa-chevron-down fa-2x cursor"></i>
				<mat-spinner *ngIf = "!dataLoaded" diameter = "40" class = "mx-auto" ></mat-spinner>
			</div>

			<br>

		</div>

	</div>

	<ch-snackbar autohide = "3000" #removeaccountsnackbar>
		<mat-icon>near_me</mat-icon>
		<span (click) = "deleteAccount()">{{ 'delete' | translate }}</span>
	</ch-snackbar>


</div>