@import "../../../assets/style/variables.scss";

::ng-deep app-usershandler{

$fontsize0 : 14px;

.users-handler{

	padding:15px;
	@extend %head1;

	.alert{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	input{
		border-width:0;
		color:#656565;
		font-size:$fontsize0;
		padding:5px;
		width:50%;
	}

	output{color:#ff5959;font-size: $fontsize0}

	.btns-group{button{margin-right:10px;}}


	.search-block{
		width:95%;
		margin:auto;
		input{
			border-width:0;
			width:100%;
			padding:10px;
			margin:auto;
		}
	}

	.users-block{

		margin:25px 20px 25px 20px;

		.head *{
			display:inline;
		}


		.login{
			display:block;
			max-width:250px;
			height:auto;
			float:left;
		}


		.avatar{
			$volume : 55px;
			max-height: $volume;
			max-width:$volume;
			min-height:$volume;
			min-width:$volume;
			border-radius: $volume;
			object-fit: cover;
			margin-right:15px;
			float:left;
			cursor:pointer;
			transition:0.8s;
			background-size:cover;
			background-position: center;
			background-color:#ccc;

			&:hover{border-color: gold;}
		}

		.status-active{border:2px solid $themecolor1;}
		.status-unactive{border:2px solid orangered;}

		.user-login{
			font-size:14px;
		}

		.time{

			float:left;
			width:100%;
			color:#aaa;
			font-size:12px;

		}

		.options-icon{
			text-align:right;
			position:absolute;
			right:30px;
			margin-bottom:70px;
			padding-bottom:12px;

		}

		.user-desc{
			clear:both;
			width:100%;
			padding-top:15px;
			word-wrap: break-word;
			font-size:14px;
		}

	}

	.users-more{
		height:40px;
		text-align: center;
	}


}

}