<div class="container">

	<div class = "row">

	<div class="col-12">
		<div *ngIf="postsData == '' && postsLoaded " class="alert alert-warning w-100 text-center" role="alert">
			<strong>{{ 'attention' | translate }} !</strong>
			<output> {{ 'noposts' | translate }} </output>
		</div>
	</div>

	<div class="w-100">
		<mat-spinner diameter="60" *ngIf="!postsData || !postsLoaded" class="preload-spinner stone"></mat-spinner>
	</div>

	<div class='col-lg-3 col-12 col-md-12 matCardWrapper' *ngFor="let posts of postsData;let index = index" #pc >

		<mat-card class="example-card " *ngIf="postsData && postsLoaded">

			<div class="card-img" [style.backgroundImage]="'url('+posts?.image[0] +' ),url(../../../assets/img/img5.jpg)' | safestyle "></div>
			<mat-card-content>
				<mat-card-header>

					<div mat-card-avatar [style.backgroundImage]="'url('+posts?.owner?.pokerfaceformatted +' ),url(../../../assets/img/avatar2.png)' | safestyle "
					 class="mat-card-avatar">

					</div>
					<mat-card-title style="flex: 1 !important">
						<span style="flex-grow:1 !important" *ngIf="!posts?.owner?.login">ANONYM</span>
						<b class="uppertxt">{{ posts?.owner?.login | cuttext : 14 }}</b>
					</mat-card-title>
					<div class="hor-flexer"></div>
					<mat-card-subtitle class="mat-card-subtitle">{{ posts?.title | cuttext : 23 }}</mat-card-subtitle>
					<mat-icon style="float:right !important" [matMenuTriggerFor]="menu">more_vert</mat-icon>

					<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
						<button (click)="openPost(posts._id)" mat-menu-item> {{ 'open' | translate }}</button>
						<button mat-menu-item [matMenuTriggerFor]="vertebrates" *ngIf="userData?.role === 'superuser' "> {{ 'priority' | translate }}</button>
						<button mat-menu-item [matMenuTriggerFor]="anonym"> {{ 'anonym' | translate }}</button>
						<button mat-menu-item [matMenuTriggerFor]="gallery"> {{ 'gallery' | translate }}</button>
						<button mat-menu-item [matMenuTriggerFor]="production"> {{ 'production' | translate }}</button>
						<button mat-menu-item [matMenuTriggerFor]="comments"> {{ 'comments' | translate }}</button>
						<button mat-menu-item [matMenuTriggerFor]="activation" *ngIf="userData?.role === 'superuser' "> {{ 'activation' | translate }}</button>
						<button mat-menu-item [matMenuTriggerFor]="toprate" *ngIf="userData?.role === 'superuser' ">Top Rate</button>
						<button mat-menu-item [routerLink]="['/space/page/welcome/editpost',posts._id]"> {{ 'edit' | translate }}</button>
						<button mat-menu-item (click)="removePostHandler(posts._id,index)"> {{ 'delete' | translate }}</button>
					</mat-menu>

					<mat-menu #vertebrates="matMenu">
						<button mat-menu-item *ngIf="userData?.role === 'superuser' " (click)="setPriority(posts, 10)">Top</button>
						<button mat-menu-item *ngIf="userData?.role === 'superuser' " (click)="setPriority(posts, 8)">Super</button>
						<button *ngFor="let prio of priorityData;" mat-menu-item (click)="setPriority(posts , prio.value)">{{ prio.name }}</button>
					</mat-menu>

					<mat-menu #anonym="matMenu">
						<button mat-menu-item *ngIf="!posts?.anonym" (click)="setAnonym( posts ,true )"> {{ 'turnon' | translate }}</button>
						<button mat-menu-item *ngIf="posts?.anonym" (click)="setAnonym( posts ,false )"> {{ 'turnoff' | translate }}</button>
					</mat-menu>

					<mat-menu #toprate="matMenu">
						<button mat-menu-item *ngIf="!posts?.approve" (click)="setApprove( posts ,true )"> {{ 'turnon' | translate }}</button>
						<button mat-menu-item *ngIf="posts?.approve" (click)="setApprove( posts ,false )">{{ 'turnoff' | translate }}</button>
					</mat-menu>

					<mat-menu #gallery="matMenu">
						<button mat-menu-item *ngIf="!posts?.gallery" (click)="setGallery( posts ,true )">{{ 'turnon' | translate }}</button>
						<button mat-menu-item *ngIf="posts?.gallery" (click)="setGallery( posts ,false )">{{ 'turnoff' | translate }}</button>
					</mat-menu>

					<mat-menu #production="matMenu">
						<button mat-menu-item *ngIf="!posts?.production" (click)="setProduction( posts ,true )">{{ 'turnon' | translate }}</button>
						<button mat-menu-item *ngIf="posts?.production"  (click)="setProduction( posts ,false )">{{ 'turnoff' | translate }}</button>
					</mat-menu>

					<mat-menu #comments="matMenu">
						<button mat-menu-item *ngIf="!posts?.comments" (click)="setComments( posts ,true )">{{ 'turnon' | translate }}</button>
						<button mat-menu-item *ngIf="posts?.comments" (click)="setComments( posts ,false )">{{ 'turnoff' | translate }}</button>
					</mat-menu>

					<mat-menu #activation="matMenu">
						<button mat-menu-item *ngIf="!posts?.active" (click)="setActivation( posts ,1 )">{{ 'turnon' | translate }}</button>
						<button mat-menu-item *ngIf="posts?.active"  (click)="setActivation( posts ,0 )">{{ 'turnoff' | translate }}</button>
					</mat-menu>

					<br>
				</mat-card-header>

				<p class="desc">{{ posts?.desc | removehtmltags | cuttext : 70 }}</p>

				<div class="d-flex  justify-content-between">
					<mat-icon matTooltip="{{ 'activationstatus' | translate }}" class="post-status " [ngClass]="{ '1' : 'status-active' , '0' : 'status-unactive'}[posts?.active]">camera</mat-icon>
					<mat-icon matTooltip="{{ 'productionstatus' | translate }}" class="post-status " [ngClass]="posts?.production ? 'status-active' : 'status-unactive'">album</mat-icon>
					<mat-icon matTooltip="{{ 'comments' | translate }}" class="post-status " [ngClass]="posts?.comments ? 'status-active' : 'status-unactive'">comment</mat-icon>
					<mat-icon matTooltip="{{ 'anonym' | translate }}" class="post-status " [ngClass]="!posts?.anonym ? 'status-active' : 'status-unactive'">visibility</mat-icon>
					<span matTooltip="{{ 'priority' | translate }}" class="priority-status">{{ posts?.priority }}</span>
					<mat-icon *ngIf="posts?.approve" matTooltip="SWEETVEL TOP RATE" class="approved mat-elevation-z4">stars</mat-icon>
				</div>
			</mat-card-content>

		</mat-card>
	</div>

	</div>

	<!-- REMOVE POST OPTIONS -->
	<ch-snackbar autohide = "4000" #postsnackbar>
		<mat-icon>near_me</mat-icon>
		<span (click) = "removePost()">{{ 'delete' | translate }}</span>
	</ch-snackbar>

</div>