::ng-deep app-postcard .container{


	mat-card ,
	mat-card-title ,
	mat-card-subtitle,
	mat-menu button,
	mat-card-content{
			font-size:13px!important;
	}

	.matCardWrapper{
		padding:5px;
	}


	mat-card{
		box-shadow:0 0 0 !important;
		padding:0px 1px 0px 1px;
		height:auto;
		min-height: 400px;

		.card-img{
			/*border-bottom:0px solid #ccc;*/
			background-color:white ;
			border-radius: 0px;
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center;
			height:200px;
			width:100%;
			margin:auto;

		}

		mat-card-content{
			padding:10px !important;

			mat-card-header, p.desc{
				min-height:50px;
				border:1px  solid transparent;
			}

		}

		.priority-status{
			color:#656565 !important;
		}


		mat-card-actions{
			padding:10px !important ;
			};

		.mat-card-avatar{
			background-size:cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.mat-icon{
			color:#656565;
		}
	}


}